Repository BinaryStudioAcademy/bsa-winter-2023-2024-lime, pull requests merged in 2024-02, with the labels that each got.

#17 LIME-1: Add readme
  README.md
  package-lock.json
Labels: enhancement, root, development

#18 LIME-3: combine backend and frontend
  .eslintrc.yml
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/labeler.yml
  .github/workflows/ci-pr.yml
  .lintstagedrc.yml
  .ls-lint.yml
  .prettierrc.yml
  backend/package.json
  backend/src/bundles/auth/enums/enums.ts
  backend/src/bundles/users/enums/enums.ts
  backend/src/bundles/users/types/types.ts
  backend/src/bundles/users/validation-schemas/validation-schemas.ts
  backend/src/common/config/types/config.type.ts
  backend/src/common/enums/enums.ts
  backend/src/common/exceptions/exceptions.ts
  backend/src/common/http/enums/enums.ts
  backend/src/common/http/exceptions/exceptions.ts
  backend/src/common/http/types/types.ts
  backend/src/common/logger/base-logger.package.ts
  backend/src/common/types/types.ts
  backend/tsconfig.build.json
  backend/tsconfig.json
  dangerfile.ts
  frontend/.lintstagedrc.yml
  frontend/package.json
  frontend/src/app/app.tsx
  frontend/src/bundles/auth/components/sign-up-form/constants/constants.ts
  frontend/src/bundles/auth/enums/enums.ts
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/store/auth.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/bundles/common/types/types.ts
  frontend/src/bundles/users/enums/enums.ts
  frontend/src/bundles/users/store/users.ts
  frontend/src/bundles/users/types/types.ts
  frontend/src/bundles/users/validation-schemas/validation-schemas.ts
  frontend/src/framework/config/base-config.package.ts
  frontend/src/framework/config/types/config.type.ts
  frontend/src/framework/http/enums/enums.ts
  frontend/src/framework/http/exceptions/http-error.exception.ts
  frontend/src/framework/http/types/types.ts
  frontend/src/framework/storage/types/types.ts
  frontend/src/framework/store/store.package.ts
  frontend/src/index.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
  package-lock.json
  package.json
  shared/package.json
  shared/src/framework/exceptions/http-error/http-error.exception.ts
  shared/src/types/server-error-response.type.ts
  tsconfig.json
Labels: FRONTEND, BACKEND

#19 LIME-4: Add tailwind colors theme
  frontend/tailwind.config.js
Labels: FRONTEND

#40 LIME-37: Add breakpoints
  frontend/tailwind.config.js
Labels: FRONTEND

#39 LIME-6: Add input component
  frontend/src/bundles/common/components/input/input.tsx
Labels: FRONTEND

#29 LIME-10: Create Loader component
  frontend/src/app/app.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/icons/icons.ts
  frontend/src/bundles/common/components/icons/logo-icon/logo-icon.tsx
  frontend/src/bundles/common/components/loader/loader.tsx
  frontend/tailwind.config.js
Labels: FRONTEND

#20 LIME-3: + Add tailwind typography theme
  frontend/package.json
  frontend/src/assets/css/styles.css
  frontend/src/assets/css/styles.scss
  frontend/src/index.tsx
  frontend/tailwind.config.js
  package-lock.json
Labels: FRONTEND, MERGE CONFLICTS

#48 LIME-8: Add toggle component
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/toggle/toggle.tsx
Labels: FRONTEND

#44 LIME-7: Add Radio component
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/radio/radio.tsx
Labels: FRONTEND

#31 LIME-13: Add jwt auth
  backend/.env.example
  backend/package.json
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/auth/auth.service.ts
  backend/src/bundles/auth/auth.ts
  backend/src/bundles/users/types/types.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/bundles/users/user.service.ts
  backend/src/bundles/users/users.ts
  backend/src/bundles/users/validation-schemas/validation-schemas.ts
  backend/src/common/config/base-config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/services/jwt/jwt.service.ts
  backend/src/common/services/services.ts
  backend/src/common/types/jwt.type.ts
  backend/src/common/types/repository.type.ts
  backend/src/common/types/service.type.ts
  package-lock.json
  shared/src/bundles/auth/enums/auth-api-path.enum.ts
  shared/src/bundles/users/enums/user-validation-message.enum.ts
  shared/src/bundles/users/types/types.ts
  shared/src/bundles/users/types/user-sign-in-request-dto.type.ts
  shared/src/bundles/users/types/user-sign-in-response-dto.type.ts
  shared/src/bundles/users/types/user-sign-up-response-dto.type.ts
  shared/src/bundles/users/users.ts
  shared/src/bundles/users/validation-schemas/user-sign-up.validation-schema.ts
  shared/src/bundles/users/validation-schemas/validation-schemas.ts
  shared/src/framework/http/enums/http-code.enum.ts
  shared/src/index.ts
Labels: BACKEND

#58 LIME-57: + changed scss to css
  .ls-lint.yml
  .prettierrc.yml
  frontend/.lintstagedrc.yml
  frontend/package.json
  frontend/src/assets/css/styles.css
  frontend/src/index.tsx
  package-lock.json
  package.json
Labels: FRONTEND, SHARED

#62 LIME-55: Update Loader
  frontend/src/bundles/common/components/icons/logo-icon/logo-icon.tsx
Labels: FRONTEND

#30 LIME-11: + add protected route component
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/protected-route/protected-route.tsx
  frontend/src/bundles/common/components/router-provider/router-provider.tsx
  frontend/src/bundles/common/types/route-object.ts
  frontend/src/bundles/common/types/types.ts
  frontend/src/index.tsx
Labels: FRONTEND

#26 LIME-5: Add select component
  frontend/package.json
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/select/components/dropdown-indicator.tsx
  frontend/src/bundles/common/components/select/helpers/get-styles/get-styles.helper.ts
  frontend/src/bundles/common/components/select/helpers/helpers.ts
  frontend/src/bundles/common/components/select/select.tsx
  frontend/src/bundles/common/components/select/types/select.type.ts
  frontend/src/bundles/common/components/select/types/types.ts
  frontend/src/bundles/common/helpers/get-valid-class-names/get-valid-class-names.helper.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/tailwind.config.js
  package-lock.json
Labels: FRONTEND, MERGE CONFLICTS

#60 LIME-56: Add deploy
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  README.md
  backend/.env.example
  backend/package.json
  backend/src/common/config/base-config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/database/base-database.package.ts
  backend/src/common/server-application/base-server-app.ts
  backend/tsconfig.json
  frontend/package.json
  package-lock.json
  package.json
  prepare-build.sh
  project.config.zip
  shared/package.json
  shared/src/enums/app-environment.enum.ts
Labels: BACKEND

#74 LIME-56: Fix deploy region
  .github/workflows/cd.yml
Labels: BACKEND

#72 LIME-32: switch enums to const backend and shared-NEW-VERSION
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/database/types/database.type.ts
  frontend/src/framework/config/base-config.package.ts
  frontend/src/framework/config/types/environment-schema.type.ts
  frontend/src/framework/http-api/base-http-api.package.ts
  frontend/src/framework/http-api/types/http-api-options.type.ts
  frontend/src/framework/http/exceptions/http-error.exception.ts
  frontend/src/framework/storage/enums/storage-key.enum.ts
  frontend/src/framework/storage/storage.package.ts
  shared/src/bundles/auth/enums/auth-api-path.enum.ts
  shared/src/bundles/users/enums/user-validation-message.enum.ts
  shared/src/bundles/users/enums/users-api-path.enum.ts
  shared/src/enums/api-path.enum.ts
  shared/src/enums/app-environment.enum.ts
  shared/src/enums/content-type.enum.ts
  shared/src/enums/server-error-type.enum.ts
  shared/src/types/server-error-response.type.ts
Labels: FRONTEND, BACKEND, SHARED

#35 LIME-9: Add checkbox
  frontend/src/bundles/common/components/checkbox/checkbox.tsx
  frontend/src/bundles/common/components/icons/check-icon/check-icon.tsx
  frontend/src/bundles/common/components/icons/icons.ts
Labels: FRONTEND

#73 LIME-66: Add svgr library
  frontend/package.json
  frontend/src/assets/img/icons/arrow-down-icon.svg
  frontend/src/assets/img/icons/logo-icon.svg
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/icon/enums/enums.ts
  frontend/src/bundles/common/components/icon/enums/icon-colors.enum.ts
  frontend/src/bundles/common/components/icon/enums/icon-components.enum.ts
  frontend/src/bundles/common/components/icon/enums/icon-size.enum.ts
  frontend/src/bundles/common/components/icon/icon.tsx
  frontend/src/bundles/common/components/icon/types/icon.type.ts
  frontend/src/bundles/common/components/icon/types/types.ts
  frontend/src/bundles/common/components/icons/icons.ts
  frontend/src/bundles/common/components/loader/loader.tsx
  frontend/src/bundles/common/components/select/components/dropdown-indicator.tsx
  frontend/src/vite-env.d.ts
  frontend/vite.config.ts
  package-lock.json
Labels: FRONTEND

#80 LIME-66: Removed icons folder
  frontend/src/bundles/common/components/checkbox/checkbox.tsx
  frontend/src/bundles/common/components/icons/check-icon/check-icon.tsx
  frontend/src/bundles/common/components/icons/icons.ts
Labels: FRONTEND

#50 LIME-14: + not found page
  frontend/src/assets/img/icons/not-found-icon.svg
  frontend/src/bundles/common/components/icon/enums/icon-components.enum.ts
  frontend/src/bundles/common/components/icon/enums/icon-size.enum.ts
  frontend/src/bundles/common/components/icon/types/icon.type.ts
  frontend/src/bundles/common/components/select/helpers/get-styles/get-styles.helper.ts
  frontend/src/bundles/common/components/select/select.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/common/pages/not-found/not-found.tsx
  frontend/src/bundles/common/pages/pages.ts
  frontend/src/index.tsx
  frontend/tailwind.config.js
Labels: FRONTEND, MERGE CONFLICTS

#84 LIME-1: + notifications and error handling
  frontend/package.json
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/notification-container/notification-container.tsx
  frontend/src/framework/notification/enums/enums.ts
  frontend/src/framework/notification/enums/notification-type.enum.ts
  frontend/src/framework/notification/notification.package.ts
  frontend/src/framework/notification/notification.ts
  frontend/src/framework/store/middlewares/error-middleware.ts
  frontend/src/framework/store/middlewares/middlewares.ts
  frontend/src/framework/store/store.package.ts
  frontend/src/index.tsx
  package-lock.json
Labels: FRONTEND

#51 LIME-41: Add header component
  frontend/src/assets/img/default-avatar.svg
  frontend/src/assets/img/logo.svg
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/header/components/components.ts
  frontend/src/bundles/common/components/header/components/message/message.tsx
  frontend/src/bundles/common/components/header/components/navigation/navigation.tsx
  frontend/src/bundles/common/components/header/components/navigation/styles.module.css
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/header/styles.module.css
  frontend/src/bundles/common/components/layout/layout.tsx
Labels: FRONTEND

#59 LIME-12: Added protected routing
  backend/fastify-types.d.ts
  backend/src/bundles/auth/auth.controller.ts
  backend/src/common/controller/types/controller-route-parameters.type.ts
  backend/src/common/enums/enums.ts
  backend/src/common/enums/plugin-name.enum.ts
  backend/src/common/helpers/create-witelisted-routes-helper.ts
  backend/src/common/helpers/extract-token-helper.ts
  backend/src/common/helpers/helpers.ts
  backend/src/common/plugins/auth-plugin.ts
  backend/src/common/plugins/plugins.ts
  backend/src/common/plugins/types/auth-options.type.ts
  backend/src/common/plugins/types/types.ts
  backend/src/common/server-application/base-server-app.ts
  backend/src/common/server-application/types/server-app-route-parameters.type.ts
  shared/src/bundles/users/enums/user-validation-message.enum.ts
Labels: BACKEND

#78 LIME-53: Add datepicker
  frontend/package.json
  frontend/src/assets/css/date-picker.css
  frontend/src/assets/css/styles.css
  frontend/src/bundles/common/components/date-picker/date-picker.tsx
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/popover/popover.tsx
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/enums/event-keys.ts
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/common/hooks/use-handle-click-outside/use-handle-click-outside.hook.ts
  package-lock.json
Labels: FRONTEND

#71 LIME-47: + create-modal-component
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/tailwind.config.js
Labels: FRONTEND

#61 LIME-36: Add backend sign up functionality
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/auth/auth.service.ts
  backend/src/bundles/auth/enums/enums.ts
  backend/src/bundles/auth/types/types.ts
  backend/src/bundles/users/enums/enums.ts
  backend/src/bundles/users/enums/user-attributes.enum.ts
  backend/src/bundles/users/enums/user-details-attributes.enum.ts
  backend/src/bundles/users/types/types.ts
  backend/src/bundles/users/user-details.model.ts
  backend/src/bundles/users/user.entity.ts
  backend/src/bundles/users/user.model.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/bundles/users/user.service.ts
  backend/src/bundles/users/users.ts
  backend/src/bundles/users/validation-schemas/validation-schemas.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/types/types.ts
  backend/src/migrations/20240213224907_add_user_details_table.ts
  backend/src/migrations/20240215163905_drop_column_in_users_table.ts
  frontend/src/bundles/auth/auth-api.ts
  frontend/src/bundles/auth/components/sign-up-form/constants/constants.ts
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/users/types/types.ts
  frontend/src/bundles/users/users.ts
  frontend/src/bundles/users/validation-schemas/validation-schemas.ts
  shared/src/bundles/auth/auth.ts
  shared/src/bundles/auth/types/auth-response-dto.type.ts
  shared/src/bundles/auth/types/types.ts
  shared/src/bundles/users/enums/user-validation-message.enum.ts
  shared/src/bundles/users/enums/user-validation-rule.enum.ts
  shared/src/bundles/users/types/types.ts
  shared/src/bundles/users/types/user-auth-request-dto.type.ts
  shared/src/bundles/users/types/user-auth-response-dto.type.ts
  shared/src/bundles/users/types/user-sign-in-request-dto.type.ts
  shared/src/bundles/users/types/user-sign-in-response-dto.type.ts
  shared/src/bundles/users/types/user-sign-up-request-dto.type.ts
  shared/src/bundles/users/types/user-sign-up-response-dto.type.ts
  shared/src/bundles/users/users.ts
  shared/src/bundles/users/validation-schemas/user-auth.validation-schema.ts
  shared/src/bundles/users/validation-schemas/user-sign-up.validation-schema.ts
  shared/src/bundles/users/validation-schemas/validation-schemas.ts
  shared/src/index.ts
Labels: BACKEND

#89 LIME-88: Fix border radius
  frontend/tailwind.config.js
Labels: BUG, FRONTEND

#75 LIME-16: Add Sign In Page
  frontend/src/assets/img/auth-bg.png
  frontend/src/assets/img/auth-logo.svg
  frontend/src/bundles/auth/auth-api.ts
  frontend/src/bundles/auth/auth.ts
  frontend/src/bundles/auth/components/sign-in-form/constants/constants.ts
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/auth.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/auth/types/types.ts
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/hooks/use-app-form/use-app-form.hook.ts
  frontend/tailwind.config.js
Labels: FRONTEND

#76 LIME-56: Fix migrations on deploy
  backend/package.json
  backend/src/common/constants/constants.ts
  backend/src/common/constants/served-page-path.constants.ts
  backend/src/common/plugins/auth-plugin.ts
  project.config.zip
Labels: BACKEND

#100 LIME-98: fix bug where token is required when trying to reach Sign In and Sign Up pages
  backend/src/bundles/auth/auth.controller.ts
  backend/src/bundles/users/user.controller.ts
  backend/src/common/controller/types/controller-route-parameters.type.ts
  backend/src/common/helpers/create-protected-routes-helper.ts
  backend/src/common/helpers/create-witelisted-routes-helper.ts
  backend/src/common/helpers/helpers.ts
  backend/src/common/plugins/auth-plugin.ts
  backend/src/common/plugins/types/auth-options.type.ts
  backend/src/common/server-application/base-server-app.ts
  backend/src/common/server-application/types/server-app-route-parameters.type.ts
  frontend/src/bundles/users/users-api.ts
Labels: BUG, FRONTEND, BACKEND

#87 LIME-70: + add component for Google Ads
  frontend/src/bundles/common/components/google-ads/google-ads.tsx
  frontend/tailwind.config.js
Labels: FRONTEND

#79 LIME-67: Add pwa
  frontend/index.html
  frontend/package.json
  frontend/public/pwa/images/android-chrome-192x192.png
  frontend/public/pwa/images/android-chrome-512x512.png
  frontend/public/pwa/images/apple-touch-icon.png
  frontend/public/pwa/images/favicon-16x16.png
  frontend/public/pwa/images/favicon-32x32.png
  frontend/public/pwa/images/maskable-icon.png
  frontend/public/pwa/site.webmanifest.json
  frontend/vite.config.ts
  package-lock.json
Labels: FRONTEND

#77 LIME-63: + add avatar component
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/avatar/avatar.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/protected-route/protected-route.tsx
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/enums/size.enum.ts
  frontend/src/bundles/common/types/types.ts
  frontend/tailwind.config.js
Labels: FRONTEND, MERGE CONFLICTS

#111 LIME-0: production deploy
  .github/pr-branch-labeler.yml
  .github/workflows/cd.yml
  .github/workflows/ci-pr.yml
  .github/workflows/ci.yml
  .release-please-manifest.json
  backend/package.json
  commitlint.config.ts
  frontend/package.json
  package-lock.json
  package.json
  release-please-config.json
  shared/package.json
Labels: FRONTEND, BACKEND, SHARED

#46 LIME-15: Add Sign Up page
  backend/src/bundles/auth/auth.controller.ts
  frontend/src/assets/img/auth-bg.png
  frontend/src/bundles/auth/components/sign-up-form/constants/constants.ts
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/type.ts
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/bundles/users/users.ts
  frontend/src/bundles/users/validation-schemas/validation-schemas.ts
  frontend/tailwind.config.js
  package-lock.json
  shared/src/bundles/users/users.ts
  shared/src/bundles/users/validation-schemas/user-auth.validation-schema.ts
  shared/src/bundles/users/validation-schemas/validation-schemas.ts
  shared/src/index.ts
Labels: FRONTEND, MERGE CONFLICTS

#114 LIME-99: + fix bug Sign up and Sign in are displayed with rout menu
  frontend/src/index.tsx
Labels: FRONTEND

#119 LIME-116: * Fix semibold font
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
Labels: FRONTEND

#109 LIME-108: Create common enum with component sizes
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/components/avatar/avatar.tsx
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/icon/enums/enums.ts
  frontend/src/bundles/common/components/icon/enums/icon-size.enum.ts
  frontend/src/bundles/common/components/icon/icon.tsx
  frontend/src/bundles/common/components/loader/loader.tsx
  frontend/src/bundles/common/enums/component-size.enum.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/enums/size.enum.ts
  frontend/src/bundles/common/pages/not-found/not-found.tsx
Labels: FRONTEND

#128 LIME-123: fix unauthorized user is not redirected to the Sign In
  frontend/src/index.tsx
Labels: FRONTEND

#136 LIME-131: fix swagger docs generation
  backend/src/common/server-application/base-server-app-api.ts
Labels: BACKEND

#112 LIME-102: Fixed log in
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/pages/auth.tsx
Labels: FRONTEND

#105 LIME-101: Labels of required fields are not marked with an asterisk on Log in form
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/components/input/input.tsx
Labels: BUG

#149 LIME-147: Fixed validation trigger
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
Labels: BUG, FRONTEND

#158 LIME-157: Fix Manrope Font Family
  frontend/src/assets/css/styles.css
Labels: BUG

#155 LIME-152: Fix sign-up response
  backend/src/bundles/users/user.repository.ts
Labels: BUG

#94 LIME-82: Add Connections page
  frontend/src/assets/img/icons/google-fit-icon.svg
  frontend/src/assets/img/icons/strava-icon.svg
  frontend/src/bundles/common/components/icon/enums/enums.ts
  frontend/src/bundles/common/components/icon/enums/icon-components.enum.ts
  frontend/src/bundles/common/components/icon/enums/icon-name.enum.ts
  frontend/src/bundles/common/components/icon/icon.tsx
  frontend/src/bundles/common/components/icon/types/icon.type.ts
  frontend/src/bundles/common/components/icon/types/types.ts
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/profile/pages/connections-page/components/connection-option.tsx
  frontend/src/bundles/profile/pages/connections-page/components/styles.module.css
  frontend/src/bundles/profile/pages/connections-page/connections-page.tsx
  frontend/src/bundles/profile/pages/connections-page/constants/connection-options.ts
  frontend/src/bundles/profile/pages/connections-page/constants/constants.ts
Labels: FRONTEND

#96 LIME-68: Add upload file plugin and file service
  backend/.env.example
  backend/package.json
  backend/src/common/config/base-config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/middlewares/file.middleware.ts
  backend/src/common/middlewares/middlewares.ts
  backend/src/common/server-application/base-server-app.ts
  backend/src/common/services/file/file.service.ts
  backend/src/common/services/file/types/file-service-options.type.ts
  backend/src/common/services/file/types/types.ts
  backend/src/common/services/services.ts
  package-lock.json
  shared/src/bundles/file/enums/enums.ts
  shared/src/bundles/file/enums/file-validation-message.enum.ts
  shared/src/bundles/file/file.ts
  shared/src/index.ts
Labels: BACKEND

#166 LIME-163: fixed the extra empty spaces displayed on the Sign Up and Sign In pages
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
Labels: FRONTEND

#171 LIME-169: Made preparation for release
  dangerfile.ts
Labels: RELEASE

#177 LIME-159: fix format of User schema in swagger
  backend/src/bundles/users/user.controller.ts
Labels: BACKEND

#175 LIME-162: * fix user refreshing
  frontend/src/app/app.tsx
  frontend/src/bundles/common/components/protected-route/protected-route.tsx
  frontend/src/index.tsx
  package-lock.json
Labels: BUG

#137 LIME-124: Add goal widget
  frontend/src/bundles/overview/components/circle-progress/circle-progress.tsx
  frontend/src/bundles/overview/components/circle-progress/enums/circle-progress-color.enums.ts
  frontend/src/bundles/overview/components/circle-progress/enums/circle-progress-sizes.enums.ts
  frontend/src/bundles/overview/components/circle-progress/enums/enums.ts
  frontend/src/bundles/overview/components/components.ts
  frontend/src/bundles/overview/components/goal-widget/enums/enums.ts
  frontend/src/bundles/overview/components/goal-widget/enums/goal-types.enums.ts
  frontend/src/bundles/overview/components/goal-widget/goal-widget.tsx
  frontend/tailwind.config.js
Labels: FRONTEND

#104 LIME-83: Add sub navigation component
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/sub-navigation/components/sub-nav-item.tsx
  frontend/src/bundles/common/components/sub-navigation/sub-navigation.tsx
  frontend/tailwind.config.js
Labels: FRONTEND

#95 LIME-93: Add ability to switch light dark mode
  frontend/index.html
  frontend/src/assets/css/date-picker.css
  frontend/src/assets/css/styles.css
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/common/components/avatar/avatar.tsx
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/google-ads/google-ads.tsx
  frontend/src/bundles/common/components/header/styles.module.css
  frontend/src/bundles/common/components/icon/enums/icon-colors.enum.ts
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/common/components/radio/radio.tsx
  frontend/src/bundles/common/components/select/helpers/get-styles/get-styles.helper.ts
  frontend/src/bundles/common/components/select/select.tsx
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/components/theme-switcher/components/switch.tsx
  frontend/src/bundles/common/components/theme-switcher/theme-switcher.tsx
  frontend/src/bundles/common/enums/theme.ts
  frontend/src/bundles/common/helpers/apply-theme-classname/apply-theme-classname.helper.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/pages/not-found/not-found.tsx
  frontend/src/bundles/common/store/actions.ts
  frontend/src/bundles/common/store/slice.ts
  frontend/src/bundles/common/store/theme.ts
  frontend/src/bundles/common/types/types.ts
  frontend/src/framework/storage/enums/storage-key.enum.ts
  frontend/src/framework/store/store.package.ts
  frontend/tailwind.config.js
  package-lock.json
Labels: FRONTEND

#150 LIME-138: Add achievements
  README.md
  backend/package.json
  backend/src/bundles/achievements/achievement.entity.ts
  backend/src/bundles/achievements/achievement.model.ts
  backend/src/bundles/achievements/enums/enums.ts
  backend/src/bundles/achievements/user-achievement.model.ts
  backend/src/bundles/users/user.model.ts
  backend/src/common/database/base-database.package.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/migrations/20240221211230_add_achievements_table.ts
  backend/src/migrations/20240221213010_add_user_achievements_table.ts
  backend/src/seeds/achievements.ts
  backend/src/seeds/enums/enums.ts
  shared/src/bundles/achievements/enums/enums.ts
  shared/src/enums/activity-type.ts
  shared/src/enums/metric.ts
  shared/src/index.ts
Labels: BACKEND

#173 LIME-168: Sign-up/Sign-in form vertically centered
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/tailwind.config.js
Labels: BUG, FRONTEND

#103 LIME-43: create base layout
  frontend/src/app/app.tsx
  frontend/src/bundles/common/components/base-layout/base-layout.tsx
  frontend/src/bundles/common/components/base-layout/styles.module.css
  frontend/src/bundles/common/components/header/styles.module.css
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/index.tsx
  package-lock.json
Labels: FRONTEND, MERGE CONFLICTS

#185 LIME-182: Sign-in/Sign-up labels changed
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
Labels: BUG, FRONTEND, MERGE CONFLICTS

#208 LIME-195: Fixed modal window styles
  frontend/src/bundles/common/components/modal/modal.tsx
Labels: BUG

#220 LIME-215: * fixed width between logo and message text
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/header/styles.module.css
  frontend/src/bundles/common/components/layout/layout.tsx
Labels: FRONTEND

#210 LIME-192: Light mode UI/UX defects
  frontend/src/bundles/auth/components/password-forgot-succsess-message/password-forgot-succsess-message.tsx
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/common/components/forgot-password-form/forgot-password-form.tsx
  frontend/src/bundles/common/components/reset-password-form/reset-password-form.tsx
  frontend/src/bundles/common/components/theme-switcher/components/switch.tsx
  frontend/src/bundles/common/components/theme-switcher/theme-switcher.tsx
  frontend/src/bundles/password-reset/components/password-reset-success-message/password-reset-success-message.tsx
  frontend/src/bundles/password-reset/pages/password-reset.tsx
Labels: BUG

#238 LIME-237: * fixed env example
  backend/.env.example
Labels: BUG

#226 LIME-218: Reset password page styles change
  frontend/src/bundles/common/components/reset-password-form/reset-password-form.tsx
  frontend/src/bundles/password-reset/components/password-reset-success-message/password-reset-success-message.tsx
  frontend/src/bundles/password-reset/pages/password-reset.tsx
Labels: BUG, FRONTEND

#205 LIME-203: Token expiration time env variable
  backend/.env.example
  backend/src/common/config/base-config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/services/jwt/jwt.service.ts
  backend/src/common/services/services.ts
Labels: BACKEND

#241 LIME-240: Fix deploy
  backend/src/common/http/enums/enums.ts
  backend/src/common/http/http.ts
  backend/src/common/plugins/verify-stripe-webhook-plugin.ts
Labels: BACKEND

#230 LIME-217: FIX sidebar not responsive
  frontend/src/assets/css/styles.css
  frontend/src/bundles/common/components/base-layout/base-layout.tsx
  frontend/src/bundles/common/components/base-layout/styles.module.css
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/common/hooks/use-sidebar-toggle/use-sidebar-toggle.tsx
Labels: BUG, FRONTEND

#174 LIME-140: Add goals api
  backend/src/bundles/goals/enums/enums.ts
  backend/src/bundles/goals/goal.controller.ts
  backend/src/bundles/goals/goal.entity.ts
  backend/src/bundles/goals/goal.model.ts
  backend/src/bundles/goals/goal.repository.ts
  backend/src/bundles/goals/goal.service.ts
  backend/src/bundles/goals/goals.ts
  backend/src/bundles/goals/types/create-goal-request-dto.ts
  backend/src/bundles/goals/types/types.ts
  backend/src/bundles/goals/types/update-goal-request-dto.ts
  backend/src/bundles/goals/validation-schemas/validation-schemas.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/enums/enums.ts
  backend/src/common/server-application/base-server-app.ts
  backend/src/common/server-application/server-application.ts
  backend/src/common/types/repository.type.ts
  backend/src/common/types/service.type.ts
  backend/src/migrations/20240222115923_add_goals_table.ts
  shared/src/bundles/goals/enums/enums.ts
  shared/src/bundles/goals/enums/frequency-type.enum.ts
  shared/src/bundles/goals/enums/goals-api-path.enum.ts
  shared/src/bundles/goals/goals.ts
  shared/src/bundles/goals/types/goal-request-dto.type.ts
  shared/src/bundles/goals/types/goal-response-dto.type.ts
  shared/src/bundles/goals/types/types.ts
  shared/src/bundles/goals/validation-schemas/goal.validation-schema.ts
  shared/src/bundles/goals/validation-schemas/validation-schemas.ts
  shared/src/enums/activity-type.enum.ts
  shared/src/enums/api-path.enum.ts
  shared/src/enums/enums.ts
  shared/src/framework/http/types/http-method.type.ts
  shared/src/index.ts
Labels: BACKEND

#228 LIME-187: * fix routes and user refreshing
  frontend/src/app/app.tsx
  frontend/src/bundles/auth/auth-api.ts
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/auth.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/base-layout/base-layout.tsx
  frontend/src/bundles/users/users.ts
  frontend/src/bundles/users/validation-schemas/validation-schemas.ts
  frontend/src/framework/store/middlewares/error-middleware.ts
  frontend/src/index.tsx
  shared/src/bundles/auth/enums/auth-api-path.enum.ts
Labels: BUG, FRONTEND

#239 LIME-236: Fix double navigation on sidebar nav
  frontend/src/bundles/common/components/sidebar/components/sidebar-nav/sidebar-nav.tsx
Labels: BUG, FRONTEND

#245 LIME-235: Add subnavigation profile
  frontend/src/bundles/common/components/base-layout/base-layout.tsx
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/layout/layout.tsx
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/common/components/protected-route/protected-route.tsx
  frontend/src/bundles/common/components/sub-navigation/sub-navigation.tsx
  frontend/src/bundles/common/components/widgets/activity-widget/activity-widget.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/types/types.ts
  frontend/src/bundles/profile/components/components.ts
  frontend/src/bundles/profile/components/profile-sub-nav/profile-sub-nav.tsx
  frontend/src/bundles/profile/layout/profile-layout.tsx
  frontend/src/bundles/subscription/pages/subscription-page/subscription-page.tsx
  frontend/src/bundles/subscription/store/actions.ts
  frontend/src/index.tsx
Labels: FRONTEND
