Repository BinaryStudioAcademy/bsa-winter-2023-2024-lime, pull requests merged in 2024-03, with the labels that each got.

#253 LIME-200: Add home page
  frontend/src/assets/img/icons/calories-icon.svg
  frontend/src/assets/img/icons/steps-icon.svg
  frontend/src/assets/img/icons/workout-icon.svg
  frontend/src/bundles/common/components/base-layout/styles.module.css
  frontend/src/bundles/common/components/card/card.tsx
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/icon/enums/icon-components.enum.ts
  frontend/src/bundles/common/components/icon/enums/icon-name.enum.ts
  frontend/src/bundles/common/components/info-section/components/components.ts
  frontend/src/bundles/common/components/info-section/components/view-all-button/view-all-button.tsx
  frontend/src/bundles/common/components/info-section/info-section.tsx
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/components/widgets/activity-widget/activity-widget.tsx
  frontend/src/bundles/common/pages/home/home.page.tsx
  frontend/src/bundles/common/pages/home/styles.module.css
  frontend/src/bundles/common/pages/pages.ts
  frontend/src/bundles/overview/components/goal-widget/goal-widget.tsx
  frontend/src/index.tsx
Labels: FRONTEND

#255 LIME-246: Added base url to env
  backend/.env.example
  backend/src/bundles/google-fit/google-fit-oauth-strategy.ts
  backend/src/bundles/oauth/oauth.controller.ts
  backend/src/bundles/strava/strava-oauth-strategy.ts
  backend/src/common/config/base-config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
Labels: BACKEND

#251 LIME-250: Fix connections page
  frontend/src/bundles/common/components/header/components/navigation/navigation.tsx
  frontend/src/bundles/profile/pages/connections-page/components/connection-option.tsx
  frontend/src/bundles/profile/pages/connections-page/components/styles.module.css
  frontend/src/bundles/profile/pages/connections-page/connections-page.tsx
  frontend/src/bundles/subscription/pages/subscription-page/subscription-page.tsx
Labels: BUG, FRONTEND

#223 LIME-219: Fix theme switch home
  frontend/src/assets/css/theme.css
  frontend/src/assets/img/logo-header-light.svg
  frontend/src/assets/img/logo-header.svg
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/common/components/base-layout/styles.module.css
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/card/card.tsx
  frontend/src/bundles/common/components/download-banner/download-banner.tsx
  frontend/src/bundles/common/components/header/components/navigation/navigation.tsx
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/header/styles.module.css
  frontend/src/bundles/common/components/icon/enums/icon-components.enum.ts
  frontend/src/bundles/common/components/icon/enums/icon-name.enum.ts
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/common/components/select/helpers/get-styles/get-styles.helper.ts
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/components/sub-navigation/components/sub-nav-item.tsx
  frontend/src/bundles/common/components/theme-switcher/theme-switcher.tsx
  frontend/src/bundles/common/pages/not-found/not-found.tsx
  frontend/src/bundles/overview/components/circle-progress/circle-progress.tsx
  frontend/src/bundles/overview/components/goal-widget/goal-widget.tsx
  frontend/src/bundles/password-reset/pages/password-reset.tsx
  frontend/src/bundles/profile/components/profile-sub-nav/profile-sub-nav.tsx
  frontend/src/bundles/profile/layout/profile-layout.tsx
  frontend/src/bundles/profile/pages/connections-page/components/connection-option.tsx
  frontend/src/bundles/subscription/components/subscription-plan/subscription-plan.tsx
  frontend/src/bundles/subscription/components/subscription-user-panel/subscription-user-panel.tsx
  frontend/src/bundles/subscription/pages/subscription-checkout/subscription-checkout.tsx
  frontend/src/bundles/subscription/pages/subscription-page/subscription-page.tsx
  frontend/src/index.tsx
  frontend/tailwind.config.js
Labels: BUG, FRONTEND

#248 LIME-229: Fixed password forgot succsess message showing
  backend/.env.example
  frontend/src/bundles/auth/components/password-forgot-succsess-message/password-forgot-succsess-message.tsx
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/password-reset/pages/password-reset.tsx
Labels: BUG, FRONTEND

#260 LIME-258: Fixed navigation link
  frontend/src/bundles/common/components/header/components/navigation/navigation.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/subscription/pages/subscription-checkout/subscription-checkout.tsx
  frontend/src/index.tsx
Labels: BUG, FRONTEND

#269 LIME-268: The password is not reset after using valid values on the Reset Password page
  backend/src/bundles/password-reset/password-reset.controller.ts
  backend/src/bundles/password-reset/password-reset.service.ts
  frontend/src/bundles/password-reset/password-reset-api.ts
  shared/src/bundles/password-reset/enums/password-reset-validation-message.enum.ts
  shared/src/bundles/users/validation-schemas/user-auth.validation-schema.ts
Labels: BUG

#214 LIME-199: Add chart for progress.
  frontend/package.json
  frontend/src/bundles/common/components/select/helpers/get-styles/get-styles.helper.ts
  frontend/src/bundles/common/components/select/select.tsx
  frontend/src/bundles/common/types/types.ts
  frontend/src/bundles/overview/components/chart-goal-progress/chart-goal-progress.tsx
  frontend/src/bundles/overview/components/chart-goal-progress/config/bar-chart-config.config.ts
  frontend/src/bundles/overview/components/chart-goal-progress/config/config.ts
  frontend/src/bundles/overview/components/chart-goal-progress/enums/color-bar-chart-progress.ts
  frontend/src/bundles/overview/components/chart-goal-progress/enums/enums.ts
  frontend/src/bundles/overview/components/chart-goal-progress/helpers/data-select-database-mapping.helper.ts
  frontend/src/bundles/overview/components/chart-goal-progress/helpers/helpers.ts
  frontend/src/bundles/overview/components/chart-goal-progress/mock-database/mock-database-goal.ts
  frontend/src/bundles/overview/components/charts/bar-chart.tsx
  frontend/src/bundles/overview/components/charts/components/components.ts
  frontend/src/bundles/overview/components/charts/types/bar-chart-data.types.ts
  frontend/src/bundles/overview/components/charts/types/bar-chart-options.types.ts
  frontend/src/bundles/overview/components/charts/types/types.ts
  frontend/src/bundles/overview/components/components.ts
  package-lock.json
Labels: FRONTEND

#256 LIME-231: * Fixed scroll on common layout
  frontend/src/bundles/common/components/base-layout/styles.module.css
  frontend/src/bundles/common/components/header/styles.module.css
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/tailwind.config.js
Labels: FRONTEND

#271 LIME-204: Add database diagram
  README.md
Labels: BACKEND

#284 LIME-283: Fix clickability of logo
  frontend/src/bundles/common/components/header/header.tsx
Labels: FRONTEND

#281 LIME-274: Fix dark/light theme for banner
  frontend/src/bundles/common/components/download-banner/download-banner.tsx
Labels: BUG, FRONTEND

#278 LIME-273: Fix Quality Criteria (Check 1)
  backend/src/bundles/oauth/oauth-state.repository.ts
  backend/src/bundles/oauth/oauth.repository.ts
  backend/src/bundles/subscriptions/subscription.repository.ts
  backend/src/common/constants/constants.ts
  backend/src/common/constants/rows-number.constant.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  frontend/src/bundles/common/components/checkbox/checkbox.tsx
  frontend/src/bundles/common/components/google-ads/google-ads.tsx
  frontend/src/bundles/common/components/theme-switcher/theme-switcher.tsx
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/helpers/apply-theme-classname/apply-theme-classname.helper.ts
  shared/src/bundles/oauth/enums/oauth-provider.enum.ts
Labels: FRONTEND, BACKEND, SHARED

#287 LIME-275: Fix steps activity widget
  frontend/src/bundles/common/components/base-layout/styles.module.css
  frontend/src/bundles/common/components/widgets/activity-widget/activity-widget.tsx
Labels: FRONTEND

#272 LIME-233: Add logout feature
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/common/components/base-layout/base-layout.tsx
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/index.tsx
Labels: FRONTEND

#282 LIME-279: Elements of Goal widget on Home page don't correspond the design
  frontend/src/assets/css/styles.css
  frontend/src/bundles/overview/components/circle-progress/circle-progress.tsx
  frontend/src/bundles/overview/components/circle-progress/constants/constants.ts
  frontend/src/bundles/overview/components/circle-progress/enums/circle-progress-sizes.enums.ts
  frontend/src/bundles/overview/components/goal-widget/goal-widget.tsx
  frontend/tailwind.config.js
Labels: BUG, FRONTEND

#232 LIME-213: Add achievement api
  backend/src/bundles/achievements/achievement.controller.ts
  backend/src/bundles/achievements/achievement.entity.ts
  backend/src/bundles/achievements/achievement.model.ts
  backend/src/bundles/achievements/achievement.repository.ts
  backend/src/bundles/achievements/achievement.service.ts
  backend/src/bundles/achievements/achievements.ts
  backend/src/bundles/achievements/enums/enums.ts
  backend/src/bundles/achievements/user-achievement.model.ts
  backend/src/bundles/connections/connection.controller.ts
  backend/src/bundles/oauth/oauth.controller.ts
  backend/src/bundles/subscription-plans/subscription-plan.controller.ts
  backend/src/bundles/subscriptions/subscription.controller.ts
  backend/src/bundles/users/user.controller.ts
  backend/src/bundles/users/user.model.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/common/server-application/base-server-app-api.ts
  backend/src/common/server-application/server-application.ts
  backend/src/seeds/achievements.ts
  shared/src/bundles/achievements/achievements.ts
  shared/src/bundles/achievements/enums/achievements-api-path.enum.ts
  shared/src/bundles/achievements/enums/enums.ts
  shared/src/bundles/achievements/types/achievement-get-item-response-dto.ts
  shared/src/bundles/achievements/types/types.ts
  shared/src/enums/activity-type.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
Labels: BACKEND

#181 LIME-142: Added workout api
  backend/src/bundles/users/user.model.ts
  backend/src/bundles/workouts/constants/constants.ts
  backend/src/bundles/workouts/enums/enums.ts
  backend/src/bundles/workouts/enums/workout-attributes.enum.ts
  backend/src/bundles/workouts/types/types.ts
  backend/src/bundles/workouts/types/workout-request-dto.type.ts
  backend/src/bundles/workouts/validation-schemas/validation-schemas.ts
  backend/src/bundles/workouts/workout.controller.ts
  backend/src/bundles/workouts/workout.entity.ts
  backend/src/bundles/workouts/workout.model.ts
  backend/src/bundles/workouts/workout.repository.ts
  backend/src/bundles/workouts/workout.service.ts
  backend/src/bundles/workouts/workouts.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/plugins/auth-plugin.ts
  backend/src/common/server-application/server-application.ts
  backend/src/migrations/20240227113506_add_workouts_table.ts
  shared/src/bundles/workouts/enums/enums.ts
  shared/src/bundles/workouts/enums/workout-validation-message.enum.ts
  shared/src/bundles/workouts/enums/workouts-api-path.enum.ts
  shared/src/bundles/workouts/types/types.ts
  shared/src/bundles/workouts/types/workout-request-dto.type.ts
  shared/src/bundles/workouts/types/workout-response-dto.type.ts
  shared/src/bundles/workouts/validation-schemas/validation-schemas.ts
  shared/src/bundles/workouts/validation-schemas/workouts.validation-schema.ts
  shared/src/bundles/workouts/workouts.ts
  shared/src/constants/constants.ts
  shared/src/constants/time-variable.constant.ts
  shared/src/enums/api-path.enum.ts
  shared/src/index.ts
  shared/src/types/entity-id-parameter-dto.type.ts
  shared/src/types/types.ts
  shared/src/validation-schemas/entity-id-parameters.validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Labels: BACKEND

#317 LIME-196: Added strava webhook
  backend/src/bundles/oauth/constants/constants.ts
  backend/src/bundles/oauth/enums/error-message.enum.ts
  backend/src/bundles/oauth/oauth.entity.ts
  backend/src/bundles/oauth/oauth.model.ts
  backend/src/bundles/oauth/oauth.service.ts
  backend/src/bundles/strava/constants/constants.ts
  backend/src/bundles/strava/constants/strava-api-url.constant.ts
  backend/src/bundles/strava/constants/strava-aspect.constant.ts
  backend/src/bundles/strava/constants/strava-object-type.constant.ts
  backend/src/bundles/strava/constants/strava-required-activity.constant.ts
  backend/src/bundles/strava/enums/strava-path.enum.ts
  backend/src/bundles/strava/helpers/format-strava-response.helper.ts
  backend/src/bundles/strava/helpers/helpers.ts
  backend/src/bundles/strava/strava-oauth-strategy.ts
  backend/src/bundles/strava/strava.controller.ts
  backend/src/bundles/strava/strava.service.ts
  backend/src/bundles/strava/strava.ts
  backend/src/bundles/strava/types/strava-activity-response-dto.type.ts
  backend/src/bundles/strava/types/strava-oauth-response-dto.type.ts
  backend/src/bundles/strava/types/strava-webhook-query.type.ts
  backend/src/bundles/strava/types/strava-webhook-response-dto.type.ts
  backend/src/bundles/strava/types/types.ts
  backend/src/common/enums/enums.ts
  backend/src/common/server-application/base-server-app.ts
  backend/src/common/server-application/server-application.ts
  backend/src/common/webhooks/init-strava-webhook.ts
  backend/src/common/webhooks/webhooks.ts
  backend/src/migrations/20240220203635_add_oauth2_info_table.ts
  shared/src/enums/api-path.enum.ts
Labels: BACKEND

#280 LIME-143: Add workout page
  frontend/package.json
  frontend/src/assets/img/icons/activities/cycling.svg
  frontend/src/assets/img/icons/activities/running.svg
  frontend/src/assets/img/icons/activities/walking.svg
  frontend/src/assets/img/progress-line.svg
  frontend/src/assets/img/wave-grey.svg
  frontend/src/bundles/common/components/activity-icon/activity-icon.tsx
  frontend/src/bundles/common/components/activity-icon/enums/activity-icon-background.enum.ts
  frontend/src/bundles/common/components/activity-icon/enums/activity-icon-components.enum.ts
  frontend/src/bundles/common/components/activity-icon/enums/enums.ts
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/common/helpers/capitalize-first-letter/capitalize-first-letter.helper.ts
  frontend/src/bundles/common/helpers/convert-seconds-to-hms/convert-seconds-to-hms.helper.ts
  frontend/src/bundles/common/helpers/format-date/format-date.helper.ts
  frontend/src/bundles/common/helpers/get-time-from-date/get-time-from-date.helper.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/helpers/meters-to-kilometers/meters-to-kilometers.helper.ts
  frontend/src/bundles/workouts/components/components.ts
  frontend/src/bundles/workouts/components/workout-route/workout-route.tsx
  frontend/src/bundles/workouts/components/workout-stats/workout-stats.tsx
  frontend/src/bundles/workouts/components/workout-title/workout-title.tsx
  frontend/src/bundles/workouts/enums/enums.ts
  frontend/src/bundles/workouts/enums/workout-unit.enum.ts
  frontend/src/bundles/workouts/pages/pages.ts
  frontend/src/bundles/workouts/pages/workout-item/workout-items.tsx
  frontend/src/bundles/workouts/pages/workout/workout.tsx
  frontend/src/bundles/workouts/store/actions.ts
  frontend/src/bundles/workouts/store/slice.ts
  frontend/src/bundles/workouts/store/workouts.ts
  frontend/src/bundles/workouts/types/types.ts
  frontend/src/bundles/workouts/workouts-api.ts
  frontend/src/bundles/workouts/workouts.ts
  frontend/src/framework/store/store.package.ts
  frontend/src/index.tsx
  frontend/tailwind.config.js
  package-lock.json
  shared/src/bundles/workouts/types/types.ts
  shared/src/bundles/workouts/types/workout-get-all-response-dto.type.ts
  shared/src/bundles/workouts/workouts.ts
  shared/src/index.ts
Labels: FRONTEND

#307 LIME-67: Fix Swagger docs page caching
  frontend/vite.config.ts
Labels: BUG, FRONTEND

#186 LIME-144: Add notifications api
  backend/src/bundles/notifications/enums/enums.ts
  backend/src/bundles/notifications/notification.controller.ts
  backend/src/bundles/notifications/notification.entity.ts
  backend/src/bundles/notifications/notification.model.ts
  backend/src/bundles/notifications/notification.repository.ts
  backend/src/bundles/notifications/notification.service.ts
  backend/src/bundles/notifications/notifications.ts
  backend/src/bundles/notifications/types/create-notification-request-dto.type.ts
  backend/src/bundles/notifications/types/notification-dto.type.ts
  backend/src/bundles/notifications/types/types.ts
  backend/src/bundles/notifications/validation-shemas/validation-shemas.ts
  backend/src/common/controller/types/controller-route-parameters.type.ts
  backend/src/common/database/enums/database-table-name.enum.ts
  backend/src/common/server-application/base-server-app.ts
  backend/src/common/server-application/server-application.ts
  backend/src/common/server-application/types/server-app-route-parameters.type.ts
  backend/src/migrations/20240227185115_add_notifications_table.ts
  shared/src/bundles/notifications/enums/enums.ts
  shared/src/bundles/notifications/enums/notification-type.enum.ts
  shared/src/bundles/notifications/enums/notifications-api-path.enum.ts
  shared/src/bundles/notifications/notifications.ts
  shared/src/bundles/notifications/types/notification-request-dto.type.ts
  shared/src/bundles/notifications/types/notification-response-dto.type.ts
  shared/src/bundles/notifications/types/types.ts
  shared/src/bundles/notifications/validation-shemas/notification.validation-shema.ts
  shared/src/bundles/notifications/validation-shemas/validation-shemas.ts
  shared/src/enums/api-path.enum.ts
  shared/src/enums/enums.ts
  shared/src/enums/pagination-validation-message.enum.ts
  shared/src/index.ts
  shared/src/types/pagination-parameters.type.ts
  shared/src/types/pagination.type.ts
  shared/src/types/types.ts
  shared/src/validation-shemas/pagination.validation-shema.ts
  shared/src/validation-shemas/validation-shemas.ts
Labels: BACKEND

#330 LIME-328: Fixed migration order
  backend/src/migrations/20240220203635_add_oauth2_info_table.ts
  backend/src/migrations/20240307113347_add_owner_id_to_oauth2_info_table.ts
Labels: BACKEND

#325 LIME-164: fixed height responsiveness
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/pages/auth.tsx
Labels: FRONTEND

#338 LIME-286: Adapt homepage
  frontend/src/bundles/common/components/widgets/activity-widget/activity-widget.tsx
  frontend/src/bundles/common/pages/overview/overview.page.tsx
  frontend/src/bundles/overview/components/chart-goal-progress/chart-goal-progress.tsx
  frontend/src/bundles/overview/components/chart-goal-progress/config/bar-chart-config.config.ts
  frontend/src/bundles/overview/components/charts/bar-chart.tsx
  frontend/src/bundles/overview/components/charts/styles/bar-chart.module.css
Labels: BUG

#320 LIME-304: Fix hiding banner
  frontend/src/bundles/common/components/download-banner/download-banner.tsx
Labels: BUG, FRONTEND

#322 LIME-310: Bug Birthdate validation
  shared/src/bundles/users/enums/user-validation-message.enum.ts
  shared/src/bundles/users/validation-schemas/constants/constants.ts
  shared/src/bundles/users/validation-schemas/user-update-profile.validation-schema.ts
Labels: BUG

#290 LIME-288: Fix Connections page url
  frontend/src/bundles/common/enums/app-route.enum.ts
  frontend/src/bundles/profile/components/profile-sub-nav/profile-sub-nav.tsx
Labels: BUG, FRONTEND

#334 LIME-329: Added swagger documatation for updating a user
  backend/src/bundles/users/user.controller.ts
Labels: BACKEND

#324 LIME-300: fix gender radio buttons
  frontend/src/bundles/common/components/radio/radio.tsx
  frontend/src/bundles/profile/components/profile-settings/profile-settings.tsx
  frontend/tailwind.config.js
Labels: FRONTEND

#333 LIME-301: Fix overlapping
  frontend/src/bundles/common/components/input/components/error-message-with-hint.tsx
  frontend/src/bundles/common/components/input/input.tsx
Labels: FRONTEND

#313 LIME-266: Connect OAuth to client
  .gitignore
  backend/.env.example
  backend/src/bundles/oauth/enums/enums.ts
  backend/src/bundles/oauth/oauth.controller.ts
  backend/src/bundles/oauth/oauth.service.ts
  backend/src/common/config/base-config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  frontend/src/bundles/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/bundles/password-reset/components/password-reset-success-message/password-reset-success-message.tsx
  frontend/src/bundles/profile/components/profile-sub-nav/profile-sub-nav.tsx
  frontend/src/bundles/profile/pages/connections-page/components/connection-option.tsx
  frontend/src/bundles/profile/pages/connections-page/connections-api.ts
  frontend/src/bundles/profile/pages/connections-page/connections-page.tsx
  frontend/src/bundles/profile/pages/connections-page/connections.ts
  frontend/src/bundles/profile/pages/connections-page/constants/connection-options.ts
  frontend/src/bundles/profile/pages/connections-page/enums/enums.ts
  frontend/src/bundles/profile/pages/connections-page/store/actions.ts
  frontend/src/bundles/profile/pages/connections-page/store/connections.ts
  frontend/src/bundles/profile/pages/connections-page/store/slice.ts
  frontend/src/bundles/profile/pages/connections-page/types/types.ts
  frontend/src/bundles/subscription/pages/subscription-page/subscription-page.tsx
  frontend/src/framework/store/store.package.ts
  frontend/src/index.tsx
  shared/src/bundles/connections/connections.ts
  shared/src/bundles/connections/types/connection-get-all-item-response-dto.type.ts
  shared/src/bundles/connections/types/types.ts
  shared/src/bundles/oauth/oauth.ts
  shared/src/bundles/oauth/types/oauth-authorize-response-dto.type.ts
  shared/src/bundles/oauth/types/oauth-deauthorize-response-dto.type.ts
  shared/src/bundles/oauth/types/types.ts
  shared/src/enums/app-route.enum.ts
  shared/src/enums/enums.ts
  shared/src/index.ts
Labels: FRONTEND, BACKEND

#344 LIME-341: Fix empty values
  frontend/src/bundles/workouts/components/workout-stats/workout-stats.tsx
Labels: BUG, FRONTEND

#346 LIME-345: Change deployment URL
  .github/workflows/cd.yml
Labels: BACKEND

#348 LIME-347: Distance between Goal banner and header is too large on Goals page
  frontend/src/bundles/common/components/create-goal-form/constants/constants.ts
  frontend/src/bundles/common/components/create-goal-form/validation-schemas/goal.validation-schema.ts
  frontend/src/bundles/common/components/select/helpers/get-styles/get-styles.helper.ts
  frontend/src/bundles/goals/pages/goals.tsx
Labels: BUG, FRONTEND

#357 LIME-356: Add OAuth navigate fallback
  frontend/vite.config.ts
Labels: FRONTEND

#308 LIME-303: Fix non Integer weight/height value
  frontend/src/bundles/common/helpers/convert-height/constants/constants.ts
  frontend/src/bundles/common/helpers/convert-height/convert-height-to-cm.ts
  frontend/src/bundles/common/helpers/convert-height/convert-height-to-mm.ts
  frontend/src/bundles/common/helpers/convert-weight/constants/constants.ts
  frontend/src/bundles/common/helpers/convert-weight/convert-weight-to-grams.ts
  frontend/src/bundles/common/helpers/convert-weight/convert-weight-to-kilograms.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/profile/components/profile-settings/profile-settings.tsx
  shared/src/bundles/users/enums/user-validation-message.enum.ts
  shared/src/bundles/users/validation-schemas/user-update-profile.validation-schema.ts
Labels: BUG

#350 LIME-331: Fix landing page
  frontend/src/assets/img/landing/app-preview.svg
  frontend/src/assets/img/landing/auth-preview.svg
  frontend/src/assets/img/landing/feature-bg.svg
  frontend/src/bundles/common/pages/pages.ts
  frontend/src/bundles/landing/components/components.ts
  frontend/src/bundles/landing/components/fade/fade.tsx
  frontend/src/bundles/landing/components/feature-card/feature-card.tsx
  frontend/src/bundles/landing/components/intro-card/intro-card.tsx
  frontend/src/bundles/landing/components/testimonial-card/testimonial-card.tsx
  frontend/src/bundles/landing/components/zoom/zoom.tsx
  frontend/src/bundles/landing/landing.ts
  frontend/src/bundles/landing/pages/landing.tsx
  frontend/src/bundles/overview/pages/overview.tsx
  frontend/src/bundles/overview/pages/styles.module.css
  frontend/src/index.tsx
Labels: BUG, FRONTEND

#265 LIME-219: * Theme switch general layout
  frontend/src/assets/css/theme.css
  frontend/src/bundles/auth/components/sign-up-form/sign-up-form.tsx
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/common/components/achievement-card/achievement-card.tsx
  frontend/src/bundles/common/components/base-layout/styles.module.css
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/card/card.tsx
  frontend/src/bundles/common/components/create-goal-form/create-goal-form.tsx
  frontend/src/bundles/common/components/header/styles.module.css
  frontend/src/bundles/common/components/info-section/info-section.tsx
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/common/components/radio/radio.tsx
  frontend/src/bundles/common/components/select/helpers/get-styles/get-styles.helper.ts
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/components/sub-navigation/components/sub-nav-item.tsx
  frontend/src/bundles/common/components/sub-navigation/sub-navigation.tsx
  frontend/src/bundles/common/components/theme-switcher/theme-switcher.tsx
  frontend/src/bundles/common/components/widgets/activity-widget/activity-widget.tsx
  frontend/src/bundles/common/pages/not-found/not-found.tsx
  frontend/src/bundles/goals/pages/goals.tsx
  frontend/src/bundles/landing/pages/landing.tsx
  frontend/src/bundles/overview/components/chart-goal-progress/chart-goal-progress.tsx
  frontend/src/bundles/password-reset/pages/password-reset.tsx
  frontend/src/bundles/profile/components/profile-settings/profile-settings.tsx
  frontend/src/bundles/profile/pages/connections-page/components/connection-option.tsx
  frontend/src/bundles/subscription/components/subscription-plan/subscription-plan.tsx
  frontend/src/bundles/subscription/components/subscription-user-panel/subscription-user-panel.tsx
  frontend/src/bundles/subscription/pages/subscription-checkout/subscription-checkout.tsx
  frontend/src/bundles/subscription/pages/subscription-page/subscription-page.tsx
  frontend/src/bundles/workouts/components/workout-route/workout-route.tsx
  frontend/src/bundles/workouts/components/workout-stats/workout-stats.tsx
  frontend/src/bundles/workouts/components/workout-title/workout-title.tsx
  frontend/src/bundles/workouts/pages/workout-item/workout-items.tsx
  frontend/src/bundles/workouts/pages/workout/workout.tsx
  frontend/src/index.tsx
  frontend/tailwind.config.js
Labels: BUG, FRONTEND

#336 LIME-332: Change Sign Up button to Sign In
  frontend/src/bundles/landing/pages/landing.tsx
Labels: FRONTEND

#234 LIME-194: Add socket service
  backend/fastify-types.d.ts
  backend/package.json
  backend/src/common/enums/plugin-name.enum.ts
  backend/src/common/plugins/plugins.ts
  backend/src/common/plugins/socket-injector.plugin.ts
  backend/src/common/server-application/base-server-app.ts
  backend/src/common/services/services.ts
  backend/src/common/services/socket/enums/enums.ts
  backend/src/common/services/socket/socket.service.ts
  frontend/.env.example
  frontend/package.json
  frontend/src/bundles/chat/store/actions.ts
  frontend/src/bundles/chat/store/chat.ts
  frontend/src/bundles/chat/store/slice.ts
  frontend/src/framework/config/base-config.package.ts
  frontend/src/framework/config/types/environment-schema.type.ts
  frontend/src/framework/socket/enums/enums.ts
  frontend/src/framework/socket/socket.package.ts
  frontend/src/framework/socket/socket.ts
  frontend/src/framework/store/middlewares/chat-socket.middleware.ts
  frontend/src/framework/store/middlewares/middlewares.ts
  frontend/src/framework/store/store.package.ts
  frontend/src/framework/store/types/app-dispatch.type.ts
  frontend/src/framework/store/types/types.ts
  frontend/vite.config.ts
  package-lock.json
  shared/src/framework/socket/enums/enums.ts
  shared/src/framework/socket/enums/socket-event.enum.ts
  shared/src/framework/socket/enums/socket-namespace.enum.ts
  shared/src/framework/socket/socket.ts
  shared/src/index.ts
Labels: FRONTEND, BACKEND

#384 LIME-373: Add label for distance or duration on list items of Goals section on Goals page
  frontend/src/bundles/common/helpers/convert-meters-to-kilometers/convert-meters-to-kilometers.helper.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/goals/components/goal-card/goal-card.tsx
  frontend/src/bundles/goals/pages/goals.tsx
  frontend/src/bundles/goals/store/slice.ts
  frontend/src/bundles/overview/components/circle-progress/circle-progress.tsx
  frontend/src/bundles/overview/components/goal-widget/goal-widget.tsx
Labels: FRONTEND

#383 LIME-378: Fix light theme for payment checkout
  frontend/src/bundles/subscription/pages/subscription-checkout/subscription-checkout.tsx
Labels: BUG

#382 LIME-365: The loading icon is not centered on the Goals page
  frontend/src/bundles/common/components/base-layout/styles.module.css
  frontend/src/bundles/goals/pages/goals.tsx
Labels: BUG, FRONTEND

#379 LIME-364: The achievements are not displayed fully on the Goals page
  frontend/src/bundles/common/components/achievement-card/achievement-card.tsx
  frontend/src/bundles/goals/components/goal-card/goal-card.tsx
  frontend/src/bundles/goals/pages/goals.tsx
Labels: BUG, FRONTEND

#209 LIME-201: Add user card
  frontend/src/assets/img/icons/message-icon.svg
  frontend/src/bundles/common/components/icon/enums/icon-components.enum.ts
  frontend/src/bundles/common/components/icon/enums/icon-name.enum.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/helpers/validate-image-url/validate-image-url.helper.ts
  frontend/src/bundles/friends/components/friend-card/friend-card.tsx
Labels: FRONTEND

#297 LIME-293: Fix redirecting to auth page
  frontend/src/bundles/auth/pages/auth.tsx
Labels: BUG, FRONTEND

#319 LIME-315: Add Avatar in Header
  frontend/src/assets/img/default-avatar.svg
  frontend/src/bundles/common/components/header/components/navigation/navigation.tsx
  frontend/src/bundles/common/components/header/components/navigation/styles.module.css
  frontend/src/bundles/common/components/header/header.tsx
Labels: FRONTEND

#211 LIME-202: Add user info card
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/user-info-card/user-info-card.tsx
  frontend/src/bundles/common/helpers/capitalize-string/capitalize-string.helper.ts
Labels: FRONTEND

#381 LIME-367: Fix workout page look
  frontend/src/bundles/workouts/components/workout-stats/workout-stats.tsx
  frontend/src/bundles/workouts/components/workout-title/workout-title.tsx
  frontend/src/bundles/workouts/pages/workout-item/workout-items.tsx
  frontend/src/bundles/workouts/pages/workout/workout.tsx
Labels: BUG, FRONTEND

#362 LIME-342: Change Strava connection design
  backend/src/bundles/strava/enums/enums.ts
  backend/src/bundles/strava/helpers/format-strava-response.helper.ts
  backend/src/bundles/strava/strava.service.ts
  backend/src/bundles/workouts/enums/enums.ts
  backend/src/bundles/workouts/workout.entity.ts
  backend/src/bundles/workouts/workout.model.ts
  backend/src/migrations/20240310213501_add_provider_to_workouts_table.ts
  frontend/src/assets/img/button-strava.svg
  frontend/src/assets/img/powered-by-strava.svg
  frontend/src/bundles/common/components/icon/enums/icon-components.enum.ts
  frontend/src/bundles/common/components/icon/enums/icon-name.enum.ts
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/profile/pages/connections-page/components/connection-option.tsx
  frontend/src/bundles/profile/pages/connections-page/connections-page.tsx
  frontend/src/bundles/profile/pages/connections-page/constants/connection-options.ts
  frontend/src/bundles/profile/pages/connections-page/types/connection-option.type.ts
  frontend/src/bundles/profile/pages/connections-page/types/types.ts
  frontend/src/bundles/workouts/constants/constants.ts
  frontend/src/bundles/workouts/constants/strava-athlete-training-url.constant.ts
  frontend/src/bundles/workouts/enums/enums.ts
  frontend/src/bundles/workouts/pages/workout-item/workout-items.tsx
  frontend/tailwind.config.js
  shared/src/bundles/workouts/types/workout-request-dto.type.ts
  shared/src/bundles/workouts/types/workout-response-dto.type.ts
  shared/src/bundles/workouts/validation-schemas/workouts.validation-schema.ts
Labels: FRONTEND, BACKEND

#403 LIME-392: Fixed destructure email error
  frontend/src/app/app.tsx
  frontend/src/bundles/common/components/protected-route/protected-route.tsx
Labels: BACKEND

#394 LIME-393: Extra button for switching theme is present on Goals page
  frontend/src/bundles/goals/pages/goals.tsx
Labels: BUG, FRONTEND

#405 LIME-391: Add Location on Profile Settings
  backend/src/bundles/users/user-details.model.ts
  backend/src/bundles/users/user.entity.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/migrations/20240312180000_add_location_to_user_details_table.ts
  frontend/src/bundles/profile/components/profile-settings/constants/constants.ts
  frontend/src/bundles/profile/components/profile-settings/profile-settings.tsx
  shared/src/bundles/users/enums/user-validation-message.enum.ts
  shared/src/bundles/users/enums/user-validation-rule.enum.ts
  shared/src/bundles/users/types/user-auth-response-dto.type.ts
  shared/src/bundles/users/types/user-update-profile-request-dto.type.ts
  shared/src/bundles/users/validation-schemas/constants/constants.ts
  shared/src/bundles/users/validation-schemas/user-update-profile.validation-schema.ts
Labels: FRONTEND, BACKEND

#409 LIME-389: FIX Progress chart UI issues
  frontend/src/bundles/overview/components/chart-goal-progress/chart-goal-progress.tsx
  frontend/src/bundles/overview/components/chart-goal-progress/config/bar-chart-config.config.ts
Labels: BUG, FRONTEND

#404 LIME-374: * Add min height to form to avoid overlapping
  frontend/src/bundles/auth/pages/auth.tsx
Labels: BUG, FRONTEND

#371 LIME-370: * Fix Theme BG, goal card, error, reset password
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/input/components/error-message-with-hint.tsx
  frontend/src/bundles/goals/pages/goals.tsx
  frontend/src/bundles/password-reset/pages/password-reset.tsx
Labels: BUG, FRONTEND

#410 LIME-388: FIX Unsolicited scroll on profile settings
  frontend/src/bundles/profile/components/profile-settings/profile-settings.tsx
Labels: BUG, FRONTEND

#377 LIME-369: Goal banner is displayed without content on Goals page when screen width is 767 and less and if no goals are in progress
  frontend/src/bundles/overview/components/goal-widget/goal-widget.tsx
Labels: BUG, FRONTEND

#326 LIME-316: Add suggestion for subscribing
  frontend/src/bundles/common/components/base-layout/base-layout.tsx
  frontend/src/bundles/common/components/base-layout/components/suggestion-for-subscribing.tsx
  frontend/src/bundles/common/components/base-layout/constants/constants.ts
  frontend/src/bundles/common/enums/enums.ts
  frontend/src/framework/storage/enums/storage-key.enum.ts
Labels: FRONTEND

#355 LIME-259: * Rewritting selectors to fix warnings
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/common/components/theme-switcher/theme-switcher.tsx
  frontend/src/bundles/goals/pages/goals.tsx
  frontend/src/bundles/password-reset/pages/password-reset.tsx
  frontend/src/bundles/profile/pages/connections-page/components/connection-option.tsx
  frontend/src/bundles/profile/pages/connections-page/connections-page.tsx
  frontend/src/bundles/subscription/pages/subscription-checkout/subscription-checkout.tsx
  frontend/src/bundles/subscription/pages/subscription-page/subscription-page.tsx
  frontend/src/bundles/workouts/pages/workout-item/workout-items.tsx
  frontend/src/bundles/workouts/pages/workout/workout.tsx
Labels: BUG, FRONTEND

#375 LIME-249: Add Public Profile page
  backend/src/bundles/achievements/achievement.service.ts
  backend/src/bundles/goals/goal.controller.ts
  backend/src/bundles/users/user.controller.ts
  backend/src/bundles/workouts/workout.controller.ts
  backend/src/bundles/workouts/workout.repository.ts
  backend/src/bundles/workouts/workout.service.ts
  frontend/src/assets/img/icons/duration-icon.svg
  frontend/src/assets/img/wave-green.svg
  frontend/src/bundles/achievements/achievements-api.ts
  frontend/src/bundles/achievements/store/achievements.ts
  frontend/src/bundles/achievements/store/actions.ts
  frontend/src/bundles/achievements/store/slice.ts
  frontend/src/bundles/common/components/icon/enums/icon-components.enum.ts
  frontend/src/bundles/common/components/icon/enums/icon-name.enum.ts
  frontend/src/bundles/common/components/widgets/activity-widget/activity-widget.tsx
  frontend/src/bundles/common/helpers/calculate-age/calculate-age.helper.ts
  frontend/src/bundles/common/helpers/calculate-total/calculate-total.helper.ts
  frontend/src/bundles/common/helpers/get-last-workout/get-last-workout.helper.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/goals/goals-api.ts
  frontend/src/bundles/goals/store/actions.ts
  frontend/src/bundles/goals/store/goals.ts
  frontend/src/bundles/goals/store/slice.ts
  frontend/src/bundles/profile/components/components.ts
  frontend/src/bundles/profile/components/personal-details/personal-details.tsx
  frontend/src/bundles/profile/components/profile-workout/profile-workout.tsx
  frontend/src/bundles/profile/pages/public-profile-page/public-profile-page.tsx
  frontend/src/bundles/users/store/actions.ts
  frontend/src/bundles/users/store/slice.ts
  frontend/src/bundles/users/store/users.ts
  frontend/src/bundles/users/users-api.ts
  frontend/src/bundles/workouts/store/actions.ts
  frontend/src/bundles/workouts/store/slice.ts
  frontend/src/bundles/workouts/store/workouts.ts
  frontend/src/bundles/workouts/workouts-api.ts
  frontend/src/index.tsx
  frontend/tailwind.config.js
  shared/src/bundles/goals/enums/goals-api-path.enum.ts
  shared/src/bundles/users/enums/users-api-path.enum.ts
  shared/src/bundles/workouts/enums/workouts-api-path.enum.ts
  shared/src/enums/app-route.enum.ts
Labels: FRONTEND, BACKEND

#387 LIME-311: Added endpoints to get data from google fit
  backend/src/bundles/google-fit/constants/constants.ts
  backend/src/bundles/google-fit/constants/google-fit-required-scopes.constant.ts
  backend/src/bundles/google-fit/enums/action.enum.ts
  backend/src/bundles/google-fit/enums/enums.ts
  backend/src/bundles/google-fit/enums/google-fit-data-source-id.enum.ts
  backend/src/bundles/google-fit/enums/google-fit-path.enum.ts
  backend/src/bundles/google-fit/enums/google-fit-required-activity.enum.ts
  backend/src/bundles/google-fit/google-fit-oauth-strategy.ts
  backend/src/bundles/google-fit/google-fit.service.ts
  backend/src/bundles/google-fit/google-fit.ts
  backend/src/bundles/google-fit/helpers/format-google-fit-response.helper.ts
  backend/src/bundles/google-fit/helpers/helpers.ts
  backend/src/bundles/google-fit/helpers/prepare-actions.helper.ts
  backend/src/bundles/google-fit/types/prepare-actions-response.type.ts
  backend/src/bundles/google-fit/types/types.ts
  backend/src/bundles/strava/strava.service.ts
  backend/src/bundles/users/types/types.ts
  backend/src/bundles/users/types/user-controller-properties.type.ts
  backend/src/bundles/users/user.controller.ts
  backend/src/bundles/users/users.ts
  backend/src/bundles/workouts/workout.entity.ts
  backend/src/bundles/workouts/workout.model.ts
  backend/src/migrations/20240311095323_alter_activity_id_to_string_in_workout_table.ts
  shared/src/bundles/workouts/types/workout-request-dto.type.ts
Labels: BACKEND

#415 LIME-353: Add general chats layout
  frontend/src/assets/css/base-styles.css
  frontend/src/assets/img/icons/ai-assistant-icon.svg
  frontend/src/assets/img/icons/ai-powered-icon.svg
  frontend/src/bundles/chats/components/ai-chat-link/ai-chat-link.tsx
  frontend/src/bundles/chats/components/chat-link/chat-link.tsx
  frontend/src/bundles/chats/components/chat-message-form/chat-message-form.tsx
  frontend/src/bundles/chats/components/chat-message/chat-message.tsx
  frontend/src/bundles/chats/components/chat-search-bar/chat-search-bar.tsx
  frontend/src/bundles/chats/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/bundles/chats/components/chat/chat.tsx
  frontend/src/bundles/chats/components/components.ts
  frontend/src/bundles/chats/components/empty-chat/empty-chat.tsx
  frontend/src/bundles/chats/constants/constants.ts
  frontend/src/bundles/chats/constants/mock-chats-sidebar-data.ts
  frontend/src/bundles/chats/constants/mock-messages-data.ts
  frontend/src/bundles/chats/enums/enums.ts
  frontend/src/bundles/chats/enums/status.enum.ts
  frontend/src/bundles/chats/helpers/format-chat-date.helper.ts
  frontend/src/bundles/chats/helpers/helpers.ts
  frontend/src/bundles/chats/pages/chats.tsx
  frontend/src/bundles/chats/store/actions.ts
  frontend/src/bundles/chats/store/chat.ts
  frontend/src/bundles/chats/store/slice.ts
  frontend/src/bundles/chats/types/chat-link.type.ts
  frontend/src/bundles/chats/types/message-payload.type.ts
  frontend/src/bundles/chats/types/types.ts
  frontend/src/bundles/common/components/icon/enums/icon-components.enum.ts
  frontend/src/bundles/common/components/icon/enums/icon-name.enum.ts
  frontend/src/bundles/common/components/input/input.tsx
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/components/theme-switcher/theme-switcher.tsx
  frontend/src/bundles/common/components/user-info-card/user-info-card.tsx
  frontend/src/framework/store/middlewares/chat-socket.middleware.ts
  frontend/src/index.tsx
  shared/src/enums/app-route.enum.ts
Labels: FRONTEND

#431 LIME-427: Add fallback for identity path
  frontend/vite.config.ts
Labels: BUG

#434 LIME-426: Fixed achievement bug
  backend/src/bundles/achievements/achievements.ts
  backend/src/bundles/achievements/enums/achievements.enum.ts
  backend/src/bundles/achievements/enums/enums.ts
  backend/src/bundles/achievements/enums/error-message.enum.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/bundles/users/users.ts
Labels: BUG

#433 LIME-432: Add location, fix weight, typography
  frontend/src/bundles/profile/components/personal-details/personal-details.tsx
  frontend/src/bundles/profile/pages/public-profile-page/public-profile-page.tsx
Labels: BUG

#443 LIME-428: avatar on user info card chat
  frontend/src/bundles/common/components/avatar/avatar.tsx
  frontend/src/bundles/common/components/user-info-card/user-info-card.tsx
Labels: BUG, FRONTEND

#425 LIME-418: Add special characters to fields. Name, nickname, location
  shared/src/bundles/users/validation-schemas/constants/constants.ts
Labels: BUG, FRONTEND

#444 LIME-441: * Remove link on Bell Icon Header
  frontend/src/bundles/common/components/header/components/navigation/navigation.tsx
Labels: BUG, FRONTEND

#446 LIME-445: The Strava website is opened on the same tab closing the Lime app
  frontend/src/bundles/workouts/pages/workout-item/workout-items.tsx
Labels: BUG, FRONTEND

#337 LIME-153: Upload avatar on profile
  backend/fastify-types.d.ts
  backend/src/bundles/users/types/types.ts
  backend/src/bundles/users/user.controller.ts
  backend/src/bundles/users/user.service.ts
  backend/src/bundles/users/validation-schemas/validation-schemas.ts
  backend/src/common/controller/base-controller.package.ts
  backend/src/common/controller/types/api-handler-options.type.ts
  backend/src/common/controller/types/controller-route-parameters.type.ts
  backend/src/common/server-application/base-server-app.ts
  backend/src/common/server-application/types/server-app-route-parameters.type.ts
  backend/src/common/services/file/file.service.ts
  backend/src/common/services/file/types/types.ts
  frontend/package.json
  frontend/packages.d.ts
  frontend/src/bundles/auth/store/actions.ts
  frontend/src/bundles/auth/store/auth.ts
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/profile/components/profile-settings/components/components.ts
  frontend/src/bundles/profile/components/profile-settings/components/cropper/cropper.tsx
  frontend/src/bundles/profile/components/profile-settings/components/cropper/enums/dimension.enum.ts
  frontend/src/bundles/profile/components/profile-settings/components/cropper/enums/enums.ts
  frontend/src/bundles/profile/components/profile-settings/components/cropper/helpers/canvas-element-to-file.helper.ts
  frontend/src/bundles/profile/components/profile-settings/components/cropper/helpers/canvas-preview.helper.ts
  frontend/src/bundles/profile/components/profile-settings/components/cropper/helpers/helpers.ts
  frontend/src/bundles/profile/components/profile-settings/components/cropper/types/canvas-properties.type.ts
  frontend/src/bundles/profile/components/profile-settings/components/cropper/types/types.ts
  frontend/src/bundles/profile/components/profile-settings/constants/constants.ts
  frontend/src/bundles/profile/components/profile-settings/profile-settings.tsx
  frontend/src/bundles/profile/pages/profile.tsx
  frontend/src/bundles/users/types/types.ts
  frontend/src/bundles/users/users-api.ts
  frontend/src/bundles/users/users.ts
  frontend/src/framework/http-api/base-http-api.package.ts
  frontend/src/framework/http-api/types/http-api-options.type.ts
  package-lock.json
  shared/src/bundles/file/file.ts
  shared/src/bundles/file/types/types.ts
  shared/src/bundles/users/enums/user-validation-message.enum.ts
  shared/src/bundles/users/enums/user-validation-rule.enum.ts
  shared/src/bundles/users/enums/users-api-path.enum.ts
  shared/src/bundles/users/types/types.ts
  shared/src/bundles/users/types/user-update-profile-request-dto.type.ts
  shared/src/bundles/users/types/user-upload-avatar-response-dto.type.ts
  shared/src/bundles/users/users.ts
  shared/src/bundles/users/validation-schemas/user-update-profile.validation-schema.ts
  shared/src/bundles/users/validation-schemas/user-upload-avatar.validation-schema.ts
  shared/src/bundles/users/validation-schemas/validation-schemas.ts
  shared/src/constants/constants.ts
  shared/src/constants/size-variable.constant.ts
  shared/src/index.ts
Labels: FRONTEND, BACKEND

#424 LIME-423: Refactor Properties through the project
  frontend/src/bundles/common/components/activity-icon/activity-icon.tsx
  frontend/src/bundles/common/components/avatar/avatar.tsx
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/checkbox/checkbox.tsx
  frontend/src/bundles/common/components/copy-to-clipboard/copy-to-clipboard.tsx
  frontend/src/bundles/common/components/google-ads/google-ads.tsx
  frontend/src/bundles/common/components/header/components/navigation/navigation.tsx
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/info-section/components/view-all-button/view-all-button.tsx
  frontend/src/bundles/common/components/info-section/info-section.tsx
  frontend/src/bundles/common/components/input/components/error-message-with-hint.tsx
  frontend/src/bundles/common/components/layout/layout.tsx
  frontend/src/bundles/common/components/loader/loader.tsx
  frontend/src/bundles/common/components/popover/popover.tsx
  frontend/src/bundles/common/components/protected-route/protected-route.tsx
  frontend/src/bundles/common/components/sidebar/components/sidebar-nav/sidebar-nav.tsx
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/components/sub-navigation/components/sub-nav-item.tsx
  frontend/src/bundles/common/components/sub-navigation/sub-navigation.tsx
  frontend/src/bundles/common/components/theme-switcher/components/switch.tsx
  frontend/src/bundles/common/components/theme-switcher/theme-switcher.tsx
  frontend/src/bundles/common/components/widgets/activity-widget/activity-widget.tsx
  frontend/src/bundles/friends/components/friend-card/friend-card.tsx
  frontend/src/bundles/landing/components/fade/fade.tsx
  frontend/src/bundles/landing/components/feature-card/feature-card.tsx
  frontend/src/bundles/landing/components/intro-card/intro-card.tsx
  frontend/src/bundles/landing/components/testimonial-card/testimonial-card.tsx
  frontend/src/bundles/landing/components/zoom/zoom.tsx
  frontend/src/bundles/overview/components/charts/bar-chart.tsx
  frontend/src/bundles/overview/components/circle-progress/circle-progress.tsx
  frontend/src/bundles/overview/components/goal-widget/goal-widget.tsx
  frontend/src/bundles/profile/layout/profile-layout.tsx
  frontend/src/bundles/subscription/components/subscription-plan/subscription-plan.tsx
  frontend/src/bundles/subscription/components/subscription-user-panel/subscription-user-panel.tsx
  frontend/src/bundles/workouts/components/workout-route/workout-route.tsx
  frontend/src/bundles/workouts/components/workout-stats/workout-stats.tsx
  frontend/src/bundles/workouts/components/workout-title/workout-title.tsx
Labels: FRONTEND

#442 LIME-436: Fix personal details overlapping
  frontend/src/bundles/profile/components/personal-details/personal-details.tsx
  frontend/src/bundles/profile/pages/public-profile-page/public-profile-page.tsx
Labels: BUG

#440 LIME-430: Add unique profile preferences
  frontend/src/bundles/common/helpers/get-unique-values/get-unique-values.helper.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/profile/components/personal-details/personal-details.tsx
Labels: FRONTEND

#448 LIME-447: Include package.d.ts in frontend compiler
  frontend/tsconfig.build.json
Labels: BUG

#421 LIME-406: Add notification goal completed and new achievement
  backend/src/common/enums/enums.ts
  backend/src/common/enums/notification-message.enum.ts
  backend/src/common/services/calculation-progress/calculation-progress.service.ts
  backend/src/common/services/services.ts
Labels: BACKEND

#361 LIME-343: + fixed routes
  frontend/src/app/app.tsx
  frontend/src/bundles/auth/pages/auth.tsx
  frontend/src/bundles/auth/store/slice.ts
  frontend/src/bundles/landing/pages/landing.tsx
Labels: BUG, FRONTEND, MERGE CONFLICTS

#422 LIME-354: + add advertisement banners to pages
  frontend/src/assets/css/theme.css
  frontend/src/bundles/common/components/base-layout/base-layout.tsx
  frontend/src/bundles/common/components/base-layout/styles.module.css
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/google-ads/google-ads.tsx
  frontend/src/bundles/common/components/modal/modal.tsx
  frontend/src/bundles/goals/pages/goals.tsx
  frontend/src/bundles/overview/pages/overview.tsx
  frontend/src/bundles/workouts/pages/workout/workout.tsx
  frontend/tailwind.config.js
Labels: FRONTEND

#298 LIME-139: * Create notifications component. #160
  frontend/src/bundles/common/components/components.ts
  frontend/src/bundles/common/components/header/components/navigation/navigation.tsx
  frontend/src/bundles/common/components/header/components/notifications/components/components.ts
  frontend/src/bundles/common/components/header/components/notifications/components/notification-actions.tsx
  frontend/src/bundles/common/components/header/components/notifications/components/notification-display.tsx
  frontend/src/bundles/common/components/header/components/notifications/components/notification-list.tsx
  frontend/src/bundles/common/components/header/components/notifications/components/notifications-bell.tsx
  frontend/src/bundles/common/components/header/components/notifications/notification-component.tsx
  frontend/src/bundles/common/components/header/components/notifications/types/notifications.types.ts
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/common/redux/selectors/selectors.ts
  frontend/src/bundles/notifications/enums/enums.ts
  frontend/src/bundles/notifications/notifications-api.ts
  frontend/src/bundles/notifications/notifications.ts
  frontend/src/bundles/notifications/store/actions.ts
  frontend/src/bundles/notifications/store/notifications.ts
  frontend/src/bundles/notifications/store/slice.ts
  frontend/src/bundles/notifications/types/notification-state-type-slice.type.ts
  frontend/src/bundles/notifications/types/types.ts
  frontend/src/framework/store/store.package.ts
  frontend/tailwind.config.js
Labels: FRONTEND

#458 LIME-453: Fix notification component error
  frontend/src/bundles/notifications/notifications-api.ts
Labels: BUG, FRONTEND

#476 LIME-467: * Full width on Overview page responsive
  frontend/src/bundles/overview/pages/overview.tsx
Labels: BUG, FRONTEND

#451 LIME-450: Constrains to upload image file type.
  frontend/src/bundles/profile/components/profile-settings/constants/constants.ts
  frontend/src/bundles/profile/components/profile-settings/constants/default-update-profile-payload.ts
  frontend/src/bundles/profile/components/profile-settings/constants/error-wrong-filetype-img.ts
  frontend/src/bundles/profile/components/profile-settings/profile-settings.tsx
Labels: BUG, FRONTEND

#466 LIME-465: Bug notifications double click to open header
  frontend/src/bundles/common/components/header/components/notifications/components/notifications-bell.tsx
  frontend/src/bundles/common/components/header/components/notifications/constants/constants.ts
  frontend/src/bundles/common/components/header/components/notifications/constants/notification-error-message.ts
  frontend/src/bundles/common/components/header/components/notifications/notification-component.tsx
  frontend/src/bundles/notifications/notifications-api.ts
Labels: BUG, FRONTEND

#477 LIME-470: Public profile responsive issues
  frontend/src/bundles/profile/components/personal-details/personal-details.tsx
  frontend/src/bundles/profile/pages/public-profile-page/public-profile-page.tsx
Labels: BUG, FRONTEND

#498 LIME-492: Remove Help button from sidebar
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
Labels: FRONTEND

#507 LIME-495: Fixed breaking long user name/email
  frontend/src/bundles/friends/components/friend-card/friend-card.tsx
Labels: FRONTEND

#506 LIME-494: Fixed closing popover notification on back browser click
  frontend/src/bundles/common/components/header/components/notifications/notification-component.tsx
Labels: BUG, FRONTEND

#500 LIME-490: Fix loader and hover on notifications component
  frontend/src/bundles/common/components/header/components/notifications/components/notification-actions.tsx
  frontend/src/bundles/common/components/header/components/notifications/components/notifications-bell.tsx
  frontend/src/bundles/common/components/header/components/notifications/notification-component.tsx
Labels: FRONTEND

#509 LIME-366: Make distance or duration the mandatory field for adding a new Goal
  frontend/src/bundles/common/components/create-goal-form/constants/constants.ts
  frontend/src/bundles/common/components/create-goal-form/create-goal-form.tsx
  frontend/src/bundles/common/components/create-goal-form/validation-schemas/goal.validation-schema.ts
  frontend/src/bundles/common/components/select/select.tsx
  frontend/src/bundles/common/hooks/use-app-form/use-app-form.hook.ts
Labels: FRONTEND

#475 LIME-471: The user's subscription is not dislayed at the top of the page
  frontend/src/bundles/subscription/pages/subscription-checkout/subscription-checkout.tsx
  frontend/src/bundles/subscription/pages/subscription-page/subscription-page.tsx
Labels: BUG, FRONTEND

#474 LIME-469: Align goals page mobile
  frontend/src/bundles/goals/pages/goals.tsx
Labels: BUG, FRONTEND

#473 LIME-468: Add descriptions for subscriptions
  backend/src/seed-data/subscription-plans-data.ts
Labels: BACKEND

#464 LIME-463: BUG: Workout card for walking activity displays 0 km when distance > 0, steps = 0, provider null
  frontend/src/bundles/workouts/components/workout-stats/workout-stats.tsx
Labels: BUG, FRONTEND

#514 LIME-491: Content is not centrally located
  backend/src/bundles/achievements/achievement.repository.ts
  backend/src/bundles/achievements/achievement.service.ts
  backend/src/bundles/friends/friend.controller.ts
  frontend/src/bundles/friends/components/friend-card/friend-card.tsx
  frontend/src/bundles/friends/components/friend-details/friend-details.tsx
  frontend/src/bundles/friends/components/tab-content/tab-content.tsx
  frontend/src/bundles/friends/constants/pagination.ts
  frontend/src/bundles/friends/pages/friends.tsx
Labels: BUG, FRONTEND

#504 LIME-493: Fixed height of ad banner
  frontend/src/bundles/overview/pages/overview.tsx
Labels: FRONTEND

#505 LIME-499: Fixed protected routing
  frontend/src/bundles/common/components/protected-route/protected-route.tsx
Labels: FRONTEND

#449 LIME-435: Add privacy policy to Profile Settings and Public Profile
  backend/src/bundles/users/user-details.model.ts
  backend/src/bundles/users/user.controller.ts
  backend/src/bundles/users/user.entity.ts
  backend/src/bundles/users/user.repository.ts
  backend/src/migrations/20240315204230_add_is_public_to_user_details_table.ts
  frontend/src/bundles/common/components/checkbox/checkbox.tsx
  frontend/src/bundles/profile/components/personal-details/personal-details.tsx
  frontend/src/bundles/profile/components/profile-settings/constants/default-update-profile-payload.ts
  frontend/src/bundles/profile/components/profile-settings/profile-settings.tsx
  shared/src/bundles/users/types/user-auth-response-dto.type.ts
  shared/src/bundles/users/types/user-update-profile-request-dto.type.ts
  shared/src/bundles/users/validation-schemas/user-update-profile.validation-schema.ts
Labels: FRONTEND, BACKEND

#472 LIME-460: Add sendgrid template
  backend/.env.example
  backend/src/common/config/base-config.package.ts
  backend/src/common/config/types/environment-schema.type.ts
  backend/src/common/emails/templates/lime-reset-password.html
  backend/src/common/services/email/email.service.ts
  backend/src/common/services/services.ts
Labels: BACKEND

#486 LIME-482: Add delete button for goals
  frontend/src/bundles/goals/components/goal-card/goal-card.tsx
  frontend/src/bundles/goals/goals-api.ts
  frontend/src/bundles/goals/pages/goals.tsx
  frontend/src/bundles/goals/store/actions.ts
  frontend/src/bundles/goals/store/goals.ts
  frontend/src/bundles/goals/store/slice.ts
Labels: FRONTEND

#501 LIME-481: User can't navigate to the previous page, if he is on Workout page and clicks on Back browser button
  frontend/src/bundles/workouts/pages/workout/workout.tsx
Labels: BUG, FRONTEND

#457 LIME-397: Add following notification
  backend/src/bundles/friends/friend.service.ts
  backend/src/bundles/friends/friends.ts
Labels: BACKEND

#285 LIME-244: Add Subnavigation menu for small screens
  .stylelintrc.yml
  frontend/src/bundles/common/components/base-layout/base-layout.tsx
  frontend/src/bundles/common/components/base-layout/styles.module.css
  frontend/src/bundles/common/components/header/header.tsx
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
  frontend/src/bundles/common/components/sub-navigation/components/sub-nav-item.tsx
  frontend/src/bundles/common/components/sub-navigation/sub-navigation.tsx
  frontend/src/bundles/common/hooks/use-sidebar-toggle/use-sidebar-toggle.tsx
  frontend/src/bundles/profile/components/profile-sub-nav/profile-sub-nav.tsx
  frontend/src/bundles/profile/layout/profile-layout.tsx
  frontend/src/bundles/workouts/components/sub-navigation/components/components.ts
  frontend/src/bundles/workouts/components/sub-navigation/components/sub-navigation-filter.tsx
  frontend/src/bundles/workouts/components/sub-navigation/components/sub-navigation-item.tsx
  frontend/src/bundles/workouts/components/sub-navigation/components/sub-navigation-list.tsx
  frontend/src/bundles/workouts/components/sub-navigation/sub-navigation-workout.tsx
  frontend/src/bundles/workouts/enums/enums.ts
  frontend/src/bundles/workouts/enums/filter-select-types.enums.ts
  frontend/src/bundles/workouts/helpers/format-workout-data-date.helper.ts
  frontend/src/bundles/workouts/helpers/helpers.ts
  frontend/src/bundles/workouts/helpers/map-workout-activity-select.helper.ts
  frontend/src/bundles/workouts/helpers/map-workout-years-select.helper.ts
  frontend/src/bundles/workouts/helpers/sort-workouts-by-date.ts
  frontend/src/bundles/workouts/hooks/hooks.ts
  frontend/src/bundles/workouts/hooks/use-filter-workout.tsx
  frontend/src/bundles/workouts/pages/workout/workout.tsx
  frontend/src/bundles/workouts/types/types.ts
  frontend/src/bundles/workouts/types/use-filter-workout.type.ts
Labels: FRONTEND

#526 LIME-0: Modify deploy
  package-lock.json
  package.json
Labels: RELEASE

#531 LIME-530: Fixed deploy error
  backend/src/bundles/calculation-progress/calculation-progress.service.ts
  backend/src/bundles/calculation-progress/calculation-progress.ts
Labels: BACKEND

#483 LIME-402: Add notification for planned workout
  backend/src/bundles/schedules/schedule.service.ts
  backend/src/bundles/schedules/schedules.ts
  backend/src/bundles/users/user.controller.ts
Labels: BACKEND

#502 LIME-487: Fixed redirect user when token expired
  frontend/src/bundles/common/components/protected-route/protected-route.tsx
  frontend/src/framework/store/middlewares/error-middleware.ts
Labels: BACKEND

#532 LIME-525: Fix colors of icons on Activity widgets
  frontend/src/bundles/profile/pages/public-profile-page/public-profile-page.tsx
Labels: BUG, FRONTEND

#537 LIME-517: Add date and time to items in notifications pop-over
  backend/src/bundles/notifications/notification.entity.ts
  frontend/src/bundles/common/components/header/components/notifications/components/notification-actions.tsx
  frontend/src/bundles/common/components/header/components/notifications/components/notification-display.tsx
  frontend/src/bundles/common/components/header/components/notifications/components/notification-list.tsx
  frontend/src/bundles/common/enums/date-format.enum.ts
  frontend/src/bundles/common/helpers/format-date-string/format-date-string.helper.ts
  shared/src/bundles/notifications/types/notification-response-dto.type.ts
Labels: FRONTEND

#533 LIME-527: Friends navigation button in sidebar added
  frontend/src/bundles/common/components/sidebar/sidebar.tsx
Labels: BUG, FRONTEND

#529 LIME-524: "No goals yet" fix
  frontend/src/bundles/goals/pages/goals.tsx
Labels: BUG, FRONTEND

#535 LIME-518: Search chats functionality
  frontend/src/bundles/chats/components/chat-search-bar/chat-search-bar.tsx
  frontend/src/bundles/chats/components/chat-sidebar/chat-sidebar.tsx
  frontend/src/bundles/chats/constants/constants.ts
  frontend/src/bundles/chats/constants/debouce-time.constant.ts
  frontend/src/bundles/chats/helpers/filter-chats.helper.ts
  frontend/src/bundles/chats/helpers/helpers.ts
Labels: FRONTEND

#156 LIME-107: + Integrate storybook components
  README.md
  backend/src/common/server-application/base-server-app.ts
  frontend/.eslintrc.yml
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/package.json
  frontend/src/assets/css/fonts.css
  frontend/src/storybook/achivement-card/achivement.stories.ts
  frontend/src/storybook/activity-icon/activity-icon.stories.ts
  frontend/src/storybook/avatar/avatar.stories.tsx
  frontend/src/storybook/base-layout/base-layout.stories.tsx
  frontend/src/storybook/button/button.stories.tsx
  frontend/src/storybook/card/card.stories.ts
  frontend/src/storybook/checkbox/checkbox-story.tsx
  frontend/src/storybook/checkbox/checkbox.stories.tsx
  frontend/src/storybook/create-goal-form/create-goal-form.stories.ts
  frontend/src/storybook/date-picker/date-picker-story.tsx
  frontend/src/storybook/date-picker/date-picker.stories.ts
  frontend/src/storybook/download-banner/download-banner.stories.ts
  frontend/src/storybook/forgot-password-form/forgot-password-form.stories.ts
  frontend/src/storybook/google-ads/google-ads.stories.tsx
  frontend/src/storybook/header/header.stories.tsx
  frontend/src/storybook/icon/icon.stories.ts
  frontend/src/storybook/info-section/info-section.stories.tsx
  frontend/src/storybook/input/input-story.tsx
  frontend/src/storybook/input/input.stories.tsx
  frontend/src/storybook/layout/layout.stories.ts
  frontend/src/storybook/link/link.stories.tsx
  frontend/src/storybook/loader/loader.stories.ts
  frontend/src/storybook/modal/modal.stories.ts
  frontend/src/storybook/notification-container/notification-container.stories.tsx
  frontend/src/storybook/popover/popover.stories.ts
  frontend/src/storybook/protected-route/protected-route.stories.tsx
  frontend/src/storybook/radio/radio-story.tsx
  frontend/src/storybook/radio/radio.stories.ts
  frontend/src/storybook/reset-password-form/reset-password-form.stories.tsx
  frontend/src/storybook/router-provider/router-provider.stories.tsx
  frontend/src/storybook/select/select-story.tsx
  frontend/src/storybook/select/select.stories.ts
  frontend/src/storybook/sidebar/sidebar.stories.tsx
  frontend/src/storybook/sub-navigation/sub-navigation.stories.tsx
  frontend/src/storybook/theme-switcher/theme-switcher.stories.tsx
  frontend/src/storybook/toggle/toggle-story.tsx
  frontend/src/storybook/toggle/toggle.stories.ts
  frontend/src/storybook/widgets/activity-widget.stories.ts
  frontend/vite.config.ts
  package-lock.json
Labels: FRONTEND

#479 LIME-349: Replace mocked data in Home page with real
  frontend/src/bundles/common/components/card/card.tsx
  frontend/src/bundles/common/components/header/components/message/message.tsx
  frontend/src/bundles/common/components/header/components/navigation/styles.module.css
  frontend/src/bundles/common/components/info-section/components/view-all-button/view-all-button.tsx
  frontend/src/bundles/common/components/info-section/info-section.tsx
  frontend/src/bundles/common/helpers/get-select-options/get-select-options.helper.ts
  frontend/src/bundles/common/helpers/helpers.ts
  frontend/src/bundles/common/hooks/hooks.ts
  frontend/src/bundles/goals/components/goal-card/goal-card.tsx
  frontend/src/bundles/overview/components/chart-goal-progress/chart-goal-progress.tsx
  frontend/src/bundles/overview/components/chart-goal-progress/components/bar-chart/bar-chart.tsx
  frontend/src/bundles/overview/components/chart-goal-progress/components/bar-chart/components/components.ts
  frontend/src/bundles/overview/components/chart-goal-progress/components/bar-chart/config/bar-chart-config.config.ts
  frontend/src/bundles/overview/components/chart-goal-progress/components/bar-chart/config/config.ts
  frontend/src/bundles/overview/components/chart-goal-progress/components/bar-chart/styles/bar-chart.module.css
  frontend/src/bundles/overview/components/chart-goal-progress/components/bar-chart/types/bar-chart-data.types.ts
  frontend/src/bundles/overview/components/chart-goal-progress/components/bar-chart/types/bar-chart-options.types.ts
  frontend/src/bundles/overview/components/chart-goal-progress/components/bar-chart/types/types.ts
  frontend/src/bundles/overview/components/chart-goal-progress/components/components.ts
  frontend/src/bundles/overview/components/chart-goal-progress/constants/chart-type-options.constant.ts
  frontend/src/bundles/overview/components/chart-goal-progress/constants/constants.ts
  frontend/src/bundles/overview/components/chart-goal-progress/constants/days-per-week.constant.ts
  frontend/src/bundles/overview/components/chart-goal-progress/constants/months-per-year.constant.ts
  frontend/src/bundles/overview/components/chart-goal-progress/constants/weeks-per-month.constant.ts
  frontend/src/bundles/overview/components/chart-goal-progress/enums/chart-type.ts
  frontend/src/bundles/overview/components/chart-goal-progress/enums/color-bar-chart-progress.ts
  frontend/src/bundles/overview/components/chart-goal-progress/enums/enums.ts
  frontend/src/bundles/overview/components/chart-goal-progress/helpers/convert-stats-to-percentage.helper.ts
  frontend/src/bundles/overview/components/chart-goal-progress/helpers/data-select-database-mapping.helper.ts
  frontend/src/bundles/overview/components/chart-goal-progress/helpers/generate-chart-stats.helper.ts
  frontend/src/bundles/overview/components/chart-goal-progress/helpers/generate-monthly-datasets.helper.ts
  frontend/src/bundles/overview/components/chart-goal-progress/helpers/generate-weekly-datasets.helper.ts
  frontend/src/bundles/overview/components/chart-goal-progress/helpers/generate-yearly-datasets.helper.ts
  frontend/src/bundles/overview/components/chart-goal-progress/helpers/helpers.ts
  frontend/src/bundles/overview/components/chart-goal-progress/mock-database/mock-database-goal.ts
  frontend/src/bundles/overview/components/chart-goal-progress/types/chart-goal-dataset.type.ts
  frontend/src/bundles/overview/components/chart-goal-progress/types/types.ts
  frontend/src/bundles/overview/components/charts/bar-chart.tsx
  frontend/src/bundles/overview/components/charts/styles/bar-chart.module.css
  frontend/src/bundles/overview/components/components.ts
  frontend/src/bundles/overview/components/goal-widget/goal-widget.tsx
  frontend/src/bundles/overview/enums/completed-goals-status.enum.ts
  frontend/src/bundles/overview/enums/enums.ts
  frontend/src/bundles/overview/helpers/calculate-today-stats.helper.ts
  frontend/src/bundles/overview/helpers/classify-goals-by-completion.helper.ts
  frontend/src/bundles/overview/helpers/define-completed-goals-status.helper.ts
  frontend/src/bundles/overview/helpers/format-schedule-day.helper.ts
  frontend/src/bundles/overview/helpers/format-schedule-time.helper.ts
  frontend/src/bundles/overview/helpers/get-completed-date.helper.ts
  frontend/src/bundles/overview/helpers/helpers.ts
  frontend/src/bundles/overview/helpers/sort-goals-by-date.helper.ts
  frontend/src/bundles/overview/helpers/sort-schedules-by-date.helper.ts
  frontend/src/bundles/overview/pages/overview.tsx
  frontend/src/bundles/overview/pages/styles.module.css
  frontend/tailwind.config.js
Labels: FRONTEND

#360 LIME-154: Leaving page with saving changes
  frontend/package.json
  frontend/src/bundles/common/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/bundles/friends/components/friend-details/friend-details.tsx
  frontend/src/bundles/profile/components/profile-settings/profile-settings.tsx
  frontend/tailwind.config.js
  package-lock.json
Labels: FRONTEND

#534 LIME-523: Add images based on deploy
  frontend/src/assets/img/google-fit-icon-simple.svg
  frontend/src/assets/img/icons/openai-logo.svg
  frontend/src/assets/img/landing/app-preview.svg
  frontend/src/assets/img/landing/auth-preview.svg
  frontend/src/assets/img/landing/overview-dark.png
  frontend/src/assets/img/landing/overview-light.png
  frontend/src/assets/img/landing/sign-in-dark.png
  frontend/src/assets/img/landing/sign-in-light.png
  frontend/src/assets/img/strava-logo.svg
  frontend/src/bundles/common/components/icon/enums/icon-components.enum.ts
  frontend/src/bundles/common/components/icon/enums/icon-name.enum.ts
  frontend/src/bundles/landing/pages/landing.tsx
Labels: FRONTEND

#539 LIME-513: Add follow functionality public page and chat with user
  frontend/src/bundles/profile/pages/public-profile-page/public-profile-page.tsx
Labels: FRONTEND

#538 LIME-536: Fix extra achievements
  backend/src/seeds/achievements.ts
  frontend/src/bundles/common/components/achievement-card/achievement-card.tsx
Labels: BUG

#546 LIME-468: fix typo subscription page
  frontend/src/bundles/subscription/pages/subscription-page/subscription-page.tsx
Labels: BUG, FRONTEND

#547 LIME-540: Add notification joining lime sign up
  backend/src/bundles/auth/auth.service.ts
Labels: BACKEND

#556 LIME-550: Fix spaces in label Schedule page
  frontend/src/bundles/schedules/pages/schedule.tsx
Labels: BUG

#555 LIME-548: Required fields on Add new workout modal are not user friendly
  frontend/src/bundles/common/components/time-picker/time-picker.tsx
  frontend/src/bundles/workouts/components/create-workout-form/create-workout-form.tsx
Labels: BUG

#557 LIME-553: Points near subnavigation are rounded with black after clicking in light mode
  frontend/src/assets/css/theme.css
  frontend/src/bundles/common/components/sub-navigation/sub-navigation.tsx
Labels: BUG

#559 LIME-542: Fix buttons color on schedule and goals page
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/schedules/pages/schedule.tsx
Labels: BUG, FRONTEND

#561 LIME-545: Wrong redirection after clicking on View all link in chat Users card
  frontend/src/bundles/chats/components/chat/chat.tsx
  frontend/src/bundles/common/components/achievement-card/achievement-card.tsx
  frontend/src/bundles/common/components/user-info-card/user-info-card.tsx
Labels: BUG

#566 LIME-0: Merge fixes into development
  backend/src/bundles/auth/auth.service.ts
  frontend/src/assets/css/theme.css
  frontend/src/bundles/chats/components/chat/chat.tsx
  frontend/src/bundles/common/components/achievement-card/achievement-card.tsx
  frontend/src/bundles/common/components/button/button.tsx
  frontend/src/bundles/common/components/sub-navigation/sub-navigation.tsx
  frontend/src/bundles/common/components/time-picker/time-picker.tsx
  frontend/src/bundles/common/components/user-info-card/user-info-card.tsx
  frontend/src/bundles/friends/components/friend-card/friend-card.tsx
  frontend/src/bundles/schedules/pages/schedule.tsx
  frontend/src/bundles/subscription/pages/subscription-page/subscription-page.tsx
  frontend/src/bundles/workouts/components/create-workout-form/create-workout-form.tsx
Labels: BUG

#576 LIME-563: Chat messages not displayed
  backend/src/bundles/chats/chat.model.ts
  backend/src/bundles/messages/message.repository.ts
  frontend/src/bundles/chats/components/chat/chat.tsx
  frontend/src/bundles/chats/pages/chats.tsx
  frontend/src/bundles/chats/store/slice.ts
  frontend/src/bundles/subscription/components/checkout-form/checkout-form.tsx
  frontend/src/bundles/subscription/components/subscription-user-panel/subscription-user-panel.tsx
  frontend/src/bundles/subscription/pages/subscription-checkout/subscription-checkout.tsx
Labels: FRONTEND, BACKEND

#568 LIME-562: When user updates profile, removing the name, fullName is saved with value ""
  frontend/src/bundles/profile/components/profile-settings/profile-settings.tsx
Labels: BUG

#571 LIME-567: * Fixed application error
  frontend/src/bundles/chats/components/chat-link/chat-link.tsx
Labels: FRONTEND

#569 LIME-560: @ before email is displayed in notification about being followed
  backend/src/bundles/friends/friend.service.ts
Labels: BUG

#577 LIME-565: The empty error is displayed when trying to upload an image
  frontend/src/bundles/profile/components/profile-settings/constants/constants.ts
  frontend/src/bundles/profile/components/profile-settings/profile-settings.tsx
  shared/src/index.ts
Labels: BUG

#572 LIME-549: Show if empty achievements text chat
  frontend/src/bundles/common/components/user-info-card/user-info-card.tsx
Labels: BUG, FRONTEND

#573 LIME-395: Update DB diagram
  README.md
Labels: FRONTEND

#583 LIME-0: merge into temp-development
  .platform/nginx/conf.d/max-body-size.conf
  frontend/src/bundles/chats/pages/chats.tsx
  frontend/src/bundles/common/components/schedule-card/schedule-card.tsx
  frontend/src/bundles/common/components/user-info-card/user-info-card.tsx
  frontend/src/bundles/schedules/pages/schedule.tsx
Labels: BUG

#581 LIME-575: * Add wrap to copy referal, remove padding on mobile
  frontend/src/bundles/common/components/copy-to-clipboard/copy-to-clipboard.tsx
  frontend/src/bundles/profile/components/profile-settings/profile-settings.tsx
Labels: BUG, FRONTEND

#580 LIME-0: Merge fixes into development
  README.md
  backend/src/bundles/chats/chat.model.ts
  backend/src/bundles/friends/friend.service.ts
  backend/src/bundles/messages/message.repository.ts
  frontend/src/bundles/chats/components/chat-link/chat-link.tsx
  frontend/src/bundles/chats/components/chat/chat.tsx
  frontend/src/bundles/chats/pages/chats.tsx
  frontend/src/bundles/chats/store/slice.ts
  frontend/src/bundles/common/components/copy-to-clipboard/copy-to-clipboard.tsx
  frontend/src/bundles/profile/components/profile-settings/constants/constants.ts
  frontend/src/bundles/profile/components/profile-settings/profile-settings.tsx
  frontend/src/bundles/subscription/components/checkout-form/checkout-form.tsx
  frontend/src/bundles/subscription/components/subscription-user-panel/subscription-user-panel.tsx
  frontend/src/bundles/subscription/pages/subscription-checkout/subscription-checkout.tsx
  shared/src/index.ts
Labels: BUG

#584 LIME-543: Fix chat redirect Public Profile
  frontend/src/bundles/profile/pages/public-profile-page/public-profile-page.tsx
Labels: BUG

#570 LIME-395: Add followers tab
  backend/src/bundles/friends/constants/constants.ts
  backend/src/bundles/friends/constants/details-graph.ts
  backend/src/bundles/friends/friend.controller.ts
  backend/src/bundles/friends/friend.model.ts
  backend/src/bundles/friends/friend.repository.ts
  backend/src/bundles/friends/friend.service.ts
  frontend/src/bundles/friends/components/friend-card/friend-card.tsx
  frontend/src/bundles/friends/components/tab-content/tab-content.tsx
  frontend/src/bundles/friends/constants/constants.ts
  frontend/src/bundles/friends/constants/row-length.ts
  frontend/src/bundles/friends/constants/tabs-followers.ts
  frontend/src/bundles/friends/friends-api.ts
  frontend/src/bundles/friends/pages/friends.tsx
  frontend/src/bundles/friends/store/actions.ts
  frontend/src/bundles/friends/store/friends.ts
  frontend/src/bundles/friends/store/slice.ts
  shared/src/bundles/friends/types/friend-response-dto.type.ts
Labels: FRONTEND, BACKEND

#585 LIME-582: fix Responsive sidebar, and subnavigation
  frontend/src/bundles/common/components/sub-navigation/sub-navigation.tsx
  frontend/src/bundles/common/hooks/use-sidebar-toggle/use-sidebar-toggle.tsx
Labels: BUG, FRONTEND

#554 LIME-525: Fix icons colors
  frontend/src/assets/img/icons/duration-icon.svg
  frontend/src/assets/img/icons/workout-icon.svg
  frontend/src/bundles/common/components/icon/enums/icon-colors.enum.ts
  frontend/src/bundles/overview/pages/overview.tsx
  frontend/src/bundles/profile/pages/public-profile-page/public-profile-page.tsx
Labels: BUG, FRONTEND

#592 Last fix
  frontend/src/bundles/friends/store/slice.ts
Labels: BUG, FRONTEND

#589 LIME-0: Last changes
  backend/src/bundles/friends/constants/constants.ts
  backend/src/bundles/friends/constants/details-graph.ts
  backend/src/bundles/friends/friend.controller.ts
  backend/src/bundles/friends/friend.model.ts
  backend/src/bundles/friends/friend.repository.ts
  backend/src/bundles/friends/friend.service.ts
  frontend/src/assets/img/icons/duration-icon.svg
  frontend/src/assets/img/icons/workout-icon.svg
  frontend/src/bundles/chats/components/chat/chat.tsx
  frontend/src/bundles/chats/store/slice.ts
  frontend/src/bundles/common/components/icon/enums/icon-colors.enum.ts
  frontend/src/bundles/common/components/sub-navigation/sub-navigation.tsx
  frontend/src/bundles/common/hooks/use-sidebar-toggle/use-sidebar-toggle.tsx
  frontend/src/bundles/friends/components/friend-card/friend-card.tsx
  frontend/src/bundles/friends/components/tab-content/tab-content.tsx
  frontend/src/bundles/friends/constants/constants.ts
  frontend/src/bundles/friends/constants/row-length.ts
  frontend/src/bundles/friends/constants/tabs-followers.ts
  frontend/src/bundles/friends/friends-api.ts
  frontend/src/bundles/friends/pages/friends.tsx
  frontend/src/bundles/friends/store/actions.ts
  frontend/src/bundles/friends/store/friends.ts
  frontend/src/bundles/friends/store/slice.ts
  frontend/src/bundles/overview/pages/overview.tsx
  frontend/src/bundles/profile/pages/public-profile-page/public-profile-page.tsx
  shared/src/bundles/friends/types/friend-response-dto.type.ts
Labels: FRONTEND, BACKEND
